

.go-shop-button{
    width: 60px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    &_btn{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px 40px;
        background-image: url('/images/fixed/back-arrow.png');
        background-color: inherit;
        width: 50px; height: 30px;
        border: none; outline: none; cursor: pointer;
    }
    &_txt{
        font-size: 13px; font-family: Gotham-Book;
        transition: .5s; opacity: 0;
    }
}