@import '../../../../../styles/mainv2.scss';

.my-coupons{
    width: 100%;
    &_container{
        width: 100%; padding-top: 40px;
        &_title{ @include letterProps(Raleway-SemiBold, 35px, 600, normal, normal, .71, normal, left, #393939); padding-left: 43px; }
        &_body{
            width: 100%; padding-top: 40px;
            &_content{
                margin: auto; width: 85%; padding-top: 38px; padding-bottom: 38px; border-bottom: 1px #ece9e6 solid;
                display: flex; justify-content: space-between;
                &_left{
                    display: flex;
                    &_pic{
                        width: 74px; height: 74px; border: 1px solid #707070;
                    }
                    &_detail{
                        & > label { @include letterProps(Raleway-SemiBold, 13px, 600, normal, normal, 1.23, normal, left, #212121); padding-top: 3.2px; }
                        & > span { @include letterProps(Raleway-Regular, 13px, normal, normal, normal, 1.15, normal, left, #393939); }
                        display: flex; flex-direction: column; align-items: flex-start; padding-left: 21.5px;
                        & .coupon-name{
                            padding-top: 6.5px;
                        }
                        & .coupon-availability{
                            padding-top: 19.3px;
                        }
                    }
                }
                &_right{
                    display: flex; flex-direction: column; justify-content: flex-end;
                    &_coupon{
                        border-radius: 24px; border: #a3a3a2 1px solid; width: 226px; height: 47px;
                        display: flex; justify-content: center; align-items: center;
                        @include letterProps(Raleway-Medium, 15px, 500, normal, normal, 1.2, normal, left, #a3a3a2);
                    }
                    & > span{ display: none; } 
                }
            }
            
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my-coupons{
        &_container{
            &_title{ /*font-family: Gotham-Bold;*/ font-size: 22px; }
            &_body{
                padding-top: 35px;
                &_content{
                    //background-color: bisque;
                    display: flex; flex-direction: column;
                    padding-top: 10px; padding-bottom: 20px;
                    border-top: 1px #ece9e6 solid; border-bottom: none;
                    &_left{
                        &_pic{ display: none; }
                        &_detail{
                            padding-left: 0; width: 100%;
                            & > label{ /*font-family: Gotham-Bold;*/ font-size: 13px; width: 100%; text-align: center; }
                            & > span{ /*font-family: Gotham-Book;*/ font-size: 13px; width: 100%; text-align: center; }
                            & .coupon-availability{ display: none; }
                        }
                    }
                    &_right{
                        padding-top: 25px;
                        &_coupon{
                            /*font-family: Gotham-Book;*/ font-size: 15px; color: #1C1C1A; 
                            width: 70%; margin: auto;
                        }
                        & > span{ /*font-family: Gotham-Book;*/ font-size: 13px; color: #A3A3A2; margin-top: 10px; }
                    }
                }
            }
        }
    }
}