@import '../../../styles/mainv2.scss';

.shop-cart{
    width: 100%; padding-top: 134px; padding-bottom: 56px;
    &_nav-small{ display: none; }
    &_title{
        font-family: OpenSans-Light; font-size: 25px; color: #1D1D1B;
        letter-spacing: 5px;
    }
    &_title-mobile { display: none; }
    &_subtitle{
        margin: auto; width: 80%; font-family: openSans-SemiBold;
        padding-top: 20px; padding-bottom: 60px;
        text-align: left;
    }
    &_container{
        margin: auto; width: 80%;
        &_labels-mobile{ display: none; }
        &_labels{
            display: flex;
            @include letterProps(OpenSans-Light, 13px, normal, normal, normal, 1.38, 2.6px, left, #1D1D1B);
            &_PRODUCT{
                width: 50%;
            }
            &_PRICE{
                width: 20%; text-align: center;
            }
            &_QUANTITY{
                width: 20%; text-align: center;
            }
            &_TOTAL{
                width: 10%; text-align: center;
            }
        }
        &_body{
            width: 100%; padding-top: 35px;
            display: flex; flex-direction: column;
            transition: .3s;
            &_content-mobile{ display: none; }
            &_content{
                display: flex; align-items: center;
                padding-top: 22px; padding-bottom: 22px; border-bottom: 1.2px #ececec solid;
                transition: 1s;
                &_product{
                    width: 50%;
                    display: flex;
                    &_img{
                        width: 84.5px; height: 130px;
                        background-repeat: no-repeat; background-position: center; background-size: contain;
                    }
                    &_detail{
                        display: flex; flex-direction: column; align-items: flex-start;
                        padding-left: 20px;
                        &_name{
                            @include letterProps(OpenSans-Regular, 14px, normal, normal, normal, 1.14, normal, left, #212121);
                        }
                        &_color, &_size{
                            @include letterProps(OpenSans-Light, 13px, normal, normal, normal, 1.38, 1.3px, left, #1D1D1B);
                            padding-top: 10px;
                        }
                        &_buttons{
                            padding-top: 33px;
                            & > button{
                                border: none; background-color: inherit; outline: none; cursor: pointer;
                                @include letterProps(OpenSans-Light, 12px, normal, normal, normal, 1.42, 1.2px, left, #1D1D1B);
                            }
                        }
                    }
                }
                &_price, &_quantity, &_total{
                    @include letterProps(OpenSans-SemiBold, 14px, 600, normal, normal, 1.36, .7px, center, #393939);
                }
                &_price { width: 20%; } &_quantity { width: 20%; } &_total { width: 10%; }
                &_buttons{ display: none; }
            }
            &_cart-empty{
                width: 100%; padding-top: 50px; padding-bottom: 30px;
                display: flex; justify-content: center; align-items: center;
                font-family: Gotham-Light; color: darkgray;
            }
        }

        &_footer{
            width: 100%; padding-top: 28px;
            display: flex; flex-direction: column; align-items: flex-end;
            &_total{
                & > label{ @include letterProps(OpenSans-SemiBold, 13px, 600, normal, normal, 1.38, normal, left, #868686); padding-right: 19px; }
                & > span{ @include letterProps(OpenSans-Bold, 20px, bold, normal, normal, 1.35, 1px, left, #212121); }
            }
            &_buttons{
                padding-top: 25px;
                & button{
                    cursor: pointer; outline: none;
                    width: 210px; height: 46px;
                }

                &_goshop{
                    margin-right: 24px;
                    & button{
                        //border: 1px #393939 solid; background-color: inherit;
                        //@include letterProps(OpenSans-Bold, 12px, 300, normal, normal, 1.42, .3px, center, #393939);
                        border: none; background-color: inherit;
                        @include letterProps(OpenSans-Light, 12px, 600, normal, normal, 1.42, 1.5px, center, #393939);
                    }
                }
                &_update{
                    border: none; background-color: inherit; font-family: OpenSans-Light;
                    @include letterProps(OpenSans-Light, 12px, 600, normal, normal, 1.42, 1.5px, center, #393939);
                }
                &_gocheckout{
                    & button {
                        //background-color: #1c1c1a; border: none;
                        //@include letterProps(OpenSans-Light, 12px, 300, normal, normal, 1.42, .3px, center, #ffffff);
                        border: none; background-color: inherit; font-family: OpenSans-Light;
                        @include letterProps(OpenSans-Light, 12px, 600, normal, normal, 1.42, 2px, center, #393939);
                    }
                }
            }
        }
    }
}

.customContSWDEL{
    color: blue;
}
.customSWDEL{
    background-color: yellow;
}

@media screen and (max-width: $mobile-width){
    .shop-cart{
        padding-top: 10px;
        &_nav-small{
            display: flex; justify-content: center;
        }
        &_title{ display: none; }
        &_subtitle{ display: none; }
        &_title-mobile{
            display: block; font-size: 18px; color: #1D1D1B;
            font-family: OpenSans-Regular; letter-spacing: 5px;
            padding-top: 25px;
        }
        &_container{
            width: 90%;
            &_labels{ display: none; }
            &_labels-mobile{
                display: block; padding-top: 35px;
                @include letterProps(OpenSans-Regular, 13px, normal, normal, normal, 1.38, 2.6px, left, #1D1D1B);
            }
            &_body{
                padding-top: 0px;
                &_content{
                    flex-direction: column;
                    &_product{
                        width: 100%;
                        &_img{  }
                        &_detail{
                            padding-left: 15px;
                            &_color { font-family: OpenSans-Regular; color: #A3A3A2; }
                            &_size{ 
                                font-family: OpenSans-Regular; color: #A3A3A2;
                                & > span{
                                    font-family: OpenSans-Bold;
                                }
                            }
                            &_buttons{ display: none; }
                        }
                    }
                    &_price, &_quantity, &_total{ display: none; }
                    &_buttons{
                        width: 100%; display: flex; padding-top: 15px;
                        & > button{
                            background-color: inherit; border: none; outline: none;
                            font-family: OpenSans-Regular; font-size: 15px; color: #A3A3A2;
                            letter-spacing: 1px; margin-right: 20px;
                        }
                    }
                }
            }
            &_footer{
                align-items: center;
                &_total{
                    width: 80%; display: flex; justify-content: space-evenly; align-items: center;
                    & > label { font-size: 17px; color: #000000; font-family: OpenSans-Light; }
                    & > span { }
                }
                &_buttons{
                    width: 90%;
                    display: flex; flex-direction: column-reverse;
                    justify-content: center; align-items: center;
                    & a{ width: 100%; }
                    &_goshop{ margin-right: 0; & > button { font-family: OpenSans-Regular; letter-spacing: 0px; } }
                    &_update{ display: none; }
                    &_gocheckout{ margin-bottom: 12px; background-color: #1C1C1A; & > button { color: #FFFFFF; letter-spacing: 0px; } }
                    & button{
                        width: 100%;
                        border: #393939 1px solid;
                    }
                }
            }
        }
    }
}