
@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

$smallWidth: '800px';

.faq{
    width: 100%;
    &_nav-small{
        margin: auto; width: 90%; padding-top: 30px;
    }
    &_sir{
        margin: auto; width: 90%; padding-bottom: 120px;
        &_title{
            @include letterProps(Gotham-Book, 50px, normal, normal, normal, 1.08, normal, left, #393939);
            box-sizing: border-box; padding-left: 18%; padding-top: 50px; padding-bottom: 50px;
        }
        &_container{
            margin: auto; width: 670px;
            border: 1px rgba(112, 112, 112, 0.2) solid;
            @media screen and (max-width: $smallWidth){ width: 100%; }
            &_content{
                padding-top: 10px; padding-bottom: 10px;
                &_header{
                    margin: auto; width: 94%; cursor: pointer;
                    display: flex; justify-content: space-between; align-items: center;
                    & span{
                        @include letterProps(OpenSans-SemiBold, 14px, 600, normal, normal, 1.36, 1.4px, left, #1e1e1e);
                    }
                    & button{
                        background-repeat: no-repeat; background-position: center; background-size: contain;
                        width: 15px; height: 15px; border: none; background-color: inherit; outline: none;
                        transition: 0.3s; cursor: pointer;
                    }
                }
                &_body{
                    margin: auto; width: 94%; transition: 0.2s;
                    & p{
                        @include letterProps(OpenSans-Light, 14px, 300, normal, normal, 1.36, 1.4px, left, #1e1e1e); transition: 0.2s;
                    }
                }
            }
        }
    }
}