
@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

.shipping{
    &_nav-small{
        margin: auto; width: 90%; padding-top: 30px;
    }
    &_content{
        width: 60%; margin: auto;
        padding-top: 20px; padding-bottom: 50px;
        @include letterProps(OpenSans-Light, 16px, 300, normal, normal, 1.56, normal, left, #393939);
        & h1,h2,h3,h4,h5,h6{
            @include letterProps(Gotham-Book, auto, normal, normal, normal, 1.08, normal, left, #393939);
        }
    }
}