
.payment-methods{
    &_container{
        margin: auto;
        width: 80%;
        padding-top: 50px; padding-bottom: 50px;
        min-height: 300px;
        font-family: OpenSans-Light;
        color: #393939;
        display: flex; flex-direction: column;
        justify-content: center; //align-items: center;
        text-align: left;
        & strong{
            font-size: 16pt;
        }
        & table { text-align: left; }
    }
}