$logo: '/images/fixed/imagotipo.png';
$logotipo: '/images/fixed/logotipo.jpg';

.nav-top{
    width: 100%; display: flex; flex-direction: column;
    &_content{
        margin: auto;
        width: 108px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 0px;
        & > div{
            padding: 5px;
            cursor: pointer;
            font-family: OpenSans-Regular;
            font-size: 11px;

            &:hover{
                color: darkgray;
            }
        }
        &_option_BAG{
            display: flex;
            & > div{
                width: 12px; height: 12px; background-color: black; color: white;
                display: flex; justify-content: center; align-items: center; font-size: 8px;
                border-radius: 30px;
            }
        }
    }
    
    &_logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url($logo);
        margin: auto; cursor: pointer;
        width: 200px; height: 200px;
        margin-top: 35px;
    }
    &_logotipo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url($logotipo);
        margin: auto; cursor: pointer;
        width: 150px; height: 50px;
    }
}