@import '../../../styles/mainv2.scss';

.nav-main{
    margin: auto;
    //width: 88%;
    width: 100%;
    //border-top: solid #8e8e8e 1px;
    //border-bottom: solid #8e8e8e 1px;
    &_container{
        width: 100%;
        &_content{
            width: 88%;
            height: 50px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            @media screen and (max-width: '800px'){
                flex-direction: column;
            }
            &_option{
                //padding-top: 4%;
                //padding-bottom: 3%;
                font-family: OpenSans-Regular;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: 1.2px;
                text-align: center;
                //color: #1c1c1a;
                & a{
                    text-decoration: none;
                    color: #1c1c1a;
                    & span{
                        padding-bottom: 2px;
                        cursor: pointer;
                        &:hover{
                            //color: darkgray;
                            font-weight: bold;
                        }
                    }
                }
                & #collection-list, #our-universe-list, #shop-category-list{
                    width: auto; display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .nav-main{
        display: none;
    }
}