@import '../../../../styles/mainv2.scss';

.checkout-success{
    padding-top: 50px; padding-bottom: 100px;
    &_title{
        font-family: OpenSans-SemiBold; font-size: 65px; color: #393939;
    }
    &_text{
        font-family: Raleway-SemiBold; font-size: 18px; color: #393939;
    }
    & > button{
        background-color: #1c1c1a; width: 210px; height: 46px; margin: auto; margin-top: 50px;
        display: flex; justify-content: center; align-items: center;
        color: white; font-family: Raleway-Bold; font-size: 12px;
        border: none; outline: none; cursor: pointer;
    }
}

@media screen and (max-width: $mobile-width){
    .checkout-success{
        padding-top: 0;
        &_title{ font-family: OpenSans-Light; font-size: 34px; text-transform: uppercase; }
        &_text{ font-size: 15px; }
        & > button{ background-color: #6D6D6D; border-radius: 6px; width: 210px; height: 46px; }
    }
}