@mixin backProps($w, $h) {
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: $w;
    height: $h;
}

@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: center;
    color: #1c1c1a;
}

.footer{
    width: 100%; background-color: white; z-index: 1;
    &_container{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-bottom: 130px;
        margin: auto;
        width: 88%;
        border-top: 1.5px #8e8e8e solid;
        &_logo1{
            @include backProps(45px, 45px);
            margin-top: 50px;
            margin-bottom: 30px;
            cursor: pointer;
        }
        &_social{
            margin: auto;
            //width: 127px;
            padding-top: 10PX;
            padding-bottom: 10px;
            //border-bottom: 1px #8e8e8e solid;
            & strong{
                @include letterProps(OpenSans-Bold, 13px, bold, normal, normal, 1.38, 0.8px);
            }
            &_option{
                @include letterProps(OpenSans-Regular, 16px, normal, normal, normal, 1.36, 1.1px);
                & a{
                    text-decoration: none;
                    color: #1c1c1a;
                    &:hover{
                        color: darkgray;
                    }
                }
            }
            &_icons{
                margin: auto; width: 65px; display: flex; justify-content: space-between;
                padding-top: 5px; border-bottom: 1.5px #8e8e8e solid; padding-bottom: 10px;
                & > a{
                    & > div{
                        background-repeat: no-repeat; background-position: center; background-size: contain;
                        width: 18px; height: 18px; border-radius: 4px; cursor: pointer;
                    }
                }
            }
        }
        &_logo2{
            @include backProps(105px, 45px); cursor: pointer;
        }
        &_copyright{
            padding-top: 15px;
            font-family: Gotham-Book;
            color: #393939;
        }
    }
}