@import '../../styles/mainv2.scss';

.modal-collection-preview{
    display: none;
}

@media screen and (max-width: $mobile-width){
    .modal-collection-preview{
        //display: block;
        //z-index: 0;
        position:  fixed;
        width: 100%; height: 100%;
        background-color: rgba(255,255,255,0.7); 
        &_header{
            display: flex; justify-content: flex-end;
            padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
            & > button{
                width: 50px; height: 50px;
                border-radius: 30px; border: 1.5px white solid;
                background-color: inherit; outline: none;
                color: white; font-size: 30px;
            }
        }
        &_container{
            &_content{
                & img{ width: 90%; }
            }
        }
    }
}