@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: center;
    color: #1c1c1a;
}

$smallWidth: '800px';

.shop {
    width: 100%; display: flex; flex-direction: column;
    padding-bottom: 20px;
    &_nav-small{
        display: none;
    }
    &_container{
        margin: auto; width: 90%; display: flex; justify-content: space-between; padding-top: 45px;
        @media screen and (max-width: $smallWidth){ flex-direction: column; } // Temporal
        &_options{
            width: 220px;
            @media screen and (max-width: $smallWidth){ width: 100%; padding-bottom: 50px; } // Temporal
            &_content{
                width: 100%; display: flex; flex-direction: column;
                position: -webkit-sticky; position: sticky; top: 15px;
                /* DropDown */
                & .shop-dropdown{
                    width: 100%;
                    &_title{
                        width: 100%; display: flex; justify-content: space-between; align-items: center;
                        @include letterProps(Gotham-Bold, 16px, bold, normal, normal, 1.47, 5.7px, left, #393939);
                        cursor: pointer;
                        &_icon{
                            color: #A6A6A6;
                        }
                    }
                    &_options{
                        margin-top: 15px;
                        width: 100%; display: flex; flex-direction: column;
                        &_content{
                            display: flex; align-items: center;
                            &_check{
                                border: 1px solid darkgray; width: 10px; height: 10px;
                                background-repeat: no-repeat; background-position: center; background-size: contain;
                            }
                            &_text{
                                @include letterProps(Gotham-Book, 13px, normal, normal, normal, 1.47, normal, left, #000000);
                                margin-left: 20px; cursor: pointer;
                                &:hover{
                                    color: darkgray;
                                }
                            }
                        }
                    }
                }
                /* End DropDown*/
            }
        }
        &_products{
            width: 78%; display: flex; justify-content: center;
            @media screen and (max-width: $smallWidth){ width: 100%; } // Temporal
            &_body{
                width: 99%; display: flex; /*justify-content: space-between;*/ flex-wrap: wrap;
                //width: 99%; display: flex; flex-wrap: wrap;
                &_content{
                    display: flex; flex-direction: column; width: 24%; margin-bottom: 50px; margin-right: 1%; align-items: flex-start; // width: 250px
                    @media screen and (max-width: 1000px){ width: 30%; }
                    //flex: 1 0 20%; margin: 15px; // De prueba
                    //@media screen and (max-width: $smallWidth){ flex: 1 0 40%; margin: 10px; padding-bottom: 30px; }
                    & img{
                        width: 100%; cursor: pointer;
                    }
                    &_name{
                        @include letterProps(OpenSans-Regular, 14px, normal, normal, normal, 1.38, 0.2px, left, #393939);
                        margin-top: 15px; text-align: left;
                    }
                    &_price{
                        @include letterProps(OpenSans-Bold, 14px, bold, normal, normal, 1.38, normal, left, #686260);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $smallWidth){
    .shop{
        &_nav-small{
            display: flex; justify-content: center;
        }
        &_container{
            &_options{
                &_content{
                    margin: auto; width: 65%;
                }
            }
            &_products{
                &_body{
                    display: flex; justify-content: space-between;
                    &_content{
                        width: 46.5%; margin-right: 0;
                        &_name{ font-size: 13px; }
                        &_price{ font-size: 11px; }
                    }
                }
            }
        }
    }
}