@import '../../../../styles/mainv2.scss';

.campaign{
    &_content{
        margin: auto; width: 92%;
        padding-top: 50px; padding-bottom: 50px;
        display: flex; flex-direction: column; align-items: center; //Temporal
        & p, & pre{
            //@include letterProps(OpenSans-Light, 16px, 300, normal, normal, 1.56, normal, left, #393939);
            font-family: OpenSans-Light; font-size: 16px; color: #7b2f20;
        }
    }
    &_nodata{
        margin: auto; widows: 90%; height: 150px;
        display: flex; justify-content: center; align-items: center;
        font-family: Gotham-Light; font-size: 15pt; color: #393939;
    }
}

@media screen and (max-width: $mobile-width){
    .campaign{
        &_content{
            padding-top: 10px;
            width: 100%;
            display: flex;
            & p{
                width: 100%;
                & img{
                    width: 100% !important;
                    height: auto !important;
                }
            }
            & > pre{
                display: inline-block;
                width: 90%;
                font-family: OpenSans-Regular; font-size: 15px;
                white-space: normal;
                color: #707070;
            }
        }
    }
}