
@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

@mixin locationsProps($bckContent, $bckLogo, $nameColor, $addressColor, $spanColor) {
    border: #686260 1px solid; margin-bottom: 16px; width: 90%; display: flex; background-color: $bckContent; cursor: pointer;
    &_logo{
        width: 45px; display: flex; padding-left: 14px; padding-top: 14px;
        &_icon{
            width: 30px; height: 29px; background-repeat: no-repeat; background-position: center;
            background-size: contain; /*background-image: url(/images/icons/location.png);*/ background-color: $bckLogo; 
            border: #686260 1px solid; border-radius: 20px; opacity: .7;
        }
    }
    &_info{
        display: flex; flex-direction: column; text-align: left;
        padding-left: 15px; align-items: flex-start;
        &_name{
            @include letterProps(Gotham-Bold, 20px, bold, normal, normal, 1.2, 0.1px, left, $nameColor);
            padding-top: 18px;
        }
        &_address{
            @include letterProps(Gotham-Light, 13px, 300, normal, normal, 1.38, 0.1px, left, $addressColor);
            padding-top: 6px; min-height: 40px;
        }
        & span{
            @include letterProps(Gotham-Bold, 10px, bold, normal, normal, 1.7, 0.1px, left, $spanColor);
            margin-top: 13px; margin-bottom: 10px; cursor: pointer; text-decoration: underline;
        }
        & #schedule{ font-family: OpenSans-Regular; color: #393939; }
    }
}

$smallWidth: '800px';

.stores{
    width: 100%; padding-bottom: 30px;
    & h2{
        @include letterProps(Gotham-Book, 50px, normal, normal, normal, 1.08, normal, left, #393939);
        padding-left: 20%;
    }
    &_container{
        margin: auto; width: 94%; display: flex; justify-content: space-between; align-items: flex-start;
        @media screen and (max-width: $smallWidth){ flex-direction: column; } // Temporal
        &_left{
           width: 30%; display: flex; flex-direction: column;
           @media screen and (max-width: $smallWidth){ width: 100%; } // Temporal
            &_storein{
                background-color: #dfdede; height: 44px; font-family: Gotham-Book;
                box-sizing: border-box; padding-top: 10px; padding-left: 20px; text-align: left;
                & b{
                    @include letterProps(Gotham-Bold, 15px, 100, normal, normal, 1.13, 1.5px, left, #393939)
                }
            }
            &_locations{
                margin-top: 20px; display: flex; flex-direction: column; align-items: center;
                &_content{ @include locationsProps(white,white,#686260,#393939,#393939); min-height: 122px; }
                //&_content-selected{ @include locationsProps(#686260,white,#d6d6d6,#dfdede,white); }
            }
        }
        &_right{
            width: 68%; display: flex; justify-content: center; height: 519px;
            position: sticky; top: 50px;
            align-items: center;
            & > img{ width: auto; max-width: 90%; height: auto; cursor: pointer; }
            &_content { width: 95%; height: 100%; }
            @media screen and (max-width: $smallWidth){ 
                width: 95%; height: auto;
                & img { width: 95%; }
                &_content { width: 85%; height: 300px; }
            }
        }
    }
}

@media screen and(max-width: $smallWidth){
    .stores{
        &_container{
            display: none;
        }
    }
}