@import '../../../../styles/mainv2.scss';

.checkout-payment{
    width: 100%;
    &_container{
        margin: auto; width: 50%;
        &_title{
            display: flex; align-items: center;
            &_icon{
                width: 34px; height: 34px; background-color: #a3a3a2; border-radius: 20px;
                display: flex; justify-content: center; align-items: center;
                & > i { font-size: 20px; color: white; }
            }
            &_text{
                @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, 0.7px, left, #a3a3a2);
                padding-left: 8px;
            }
        }
        &_options{
            display: flex; justify-content: space-around; padding-top: 25px; padding-bottom: 21.7px; border-bottom: 1px #ece9e6 solid;
            &_to{
                width: 46%; height: 43px; cursor: pointer;
                @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, center, #a3a3a2);
                &_option{
                    width: 100%; height: 43px; display: flex;
                    justify-content: center; align-items: center;
                }
                &_icon{
                    transform: translateY(-4px); color: #1c1c1a;
                }
            }
        }
        &_warning{
            @include letterProps(Raleway-SemiBold, 13px, 600, normal, normal, 1.15, 0.4px, left, #393939);
            padding-top: 31px; padding-bottom: 25px;
        }
        &_card-icons{ display: none; }
    }
}

@media screen and (max-width: $mobile-width){
    .checkout-payment{
        &_container{
            width: 100%;
            &_title{
                &_icon{ background-color: #1C1C1A; }
                &_text{ color: #1C1C1A; }
            }
            &_options{
                &_to{
                    height: auto;
                    &_option{ height: 50px; }
                    &_icon{ transform: translateY(11px); }
                }
            }
            &_card-icons{
                margin-top: 35px;
            }
        }
    }
}