@import '../../styles/mainv2.scss';

.prod-preview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_content{
        display: flex; justify-content: space-between; width: 88%;
        padding-top: 40px; padding-bottom: 60px;
        &_product{
            display: flex; flex-direction: column; //margin: 25px;
            & img{
                width: 100%; cursor: pointer;
            }
            &_text{
                display: flex; flex-direction: column; margin-top: 10px;
                & span{
                    @include letterProps(OpenSans-Regular, 20px, normal, normal, normal, 1.39, 0.3px, left, #1c1c1a)
                }
                & b{
                    @include letterProps(OpenSans-Bold, 14px, bold, normal, normal, 1.38, normal, left, #1c1c1a)
                }
            }
        }
    }
}

.container{
    margin: auto; width: 90%; //border-bottom: 1px #8e8e8e solid;
    padding-bottom: 20px;
    &_buttons{
        width: 100%;
        display: flex; justify-content: space-between; align-items: center;
        & > button{
            border: none; outline: none; background-color: inherit;
            cursor: pointer; transform: scale(1, 1.5)
        }
    }
}
.products-swiper{
    width: 100%;
}

@media screen and (max-width: $mobile-width){
    .prod-preview{
        &_content{
            &_product{
                &_text{
                    & span{ font-size: 14px; }
                    & b{ font-size: 11px; }
                }
            }
        }
    }
}