$small-width: 800px;

@mixin backProps($padd-bottom) {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    &::after{ content: ''; display: block; padding-bottom: $padd-bottom; }
}

.home-cover-page{
    margin: auto;
    width: 95%;
    padding-bottom: 60px;
    &_title{
        margin: auto;
        font-family: Gotham-Light;
        //width: 306px;
        //height: 85px;
        width: 260px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 9.5px;
        text-align: center;
        color: #1c1c1a;
        //padding-top: 50px;
        //padding-bottom: 30px; 
    }
    &_content{
        width: 100%; padding-top: 30px;
        & > div{ cursor: pointer; }
        &_cov1{
            @include backProps(55%);
        }
        &_cov2{
            @include backProps(24%);
        }
        &_cov3{
            @include backProps(21%);
        }
    }
}

@media screen and(max-width: $small-width){
    .home-cover-page{
        width: 100%;
        padding-bottom: 30px;
    }
}