@import '../../../styles/mainv2.scss';

//@include letterProps(Gotham-Medium, 25px, 500, normal, normal, 1.2, 1.3px, center, #1c1c1a);

.auth{
    width: 100%; padding-top: 50px; padding-bottom: 40px;
    display: flex; justify-content: space-evenly; align-items: flex-start;
    &_nav-small{ display: none; }
    &_form{
        width: 350px; //border-bottom: 1px #1c1c1a solid;
        display: flex; flex-direction: column; padding-bottom: 30px;
        & h2{
            width: 100%; display: flex;
            @include letterProps(OpenSans-Light, 25px, 600, normal, normal, 1.17, 9px, center, #1d1d1b);
            //@include letterProps(OpenSans-Semibold, 25px, 300, normal, normal, 1.63, 4.8px, center, #1c1c1a);
        }
        &_subtitle{ 
            color: #1D1D1B; font-size: OpenSans-Light; transform: scale(1, .8); letter-spacing: 1.5px; text-align: left;
            font-size: 13px; padding-top: 30px; padding-bottom: 20px;
        }
        & label{ @include letterProps(OpenSans-Light, 13px, normal, normal, normal, 1.33, 0.9px, center, #1c1c1a); letter-spacing: 2.3px; }
        & input {
            width: 100%; height: 30px; border: 1px #1c1c1a solid; padding: 5px; font-family: Gotham-Light;
        }
        &_email{
            width: 100%; height: 55px; margin-top: 10px; margin-bottom: 25px;
            display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
        }
        &_password{
            width: 100%; height: 55px; margin-top: 10px;
            display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
            &_label{
                width: 100%;
                display: flex; justify-content: space-between; align-items: flex-end;
                & span{ 
                    @include letterProps(OpenSans-Regular, 10px, normal, normal, normal, 1.42, 0.6px, right, #1c1c1a); 
                    cursor: pointer; letter-spacing: 1.5px;
                }
            }
        }
        &_access{
            width: 100%; margin-top: 50px; border-bottom: 1px #1D1D1B solid;
            display: flex; justify-content: space-between; padding-bottom: 45px;
            &_remember{
                display: flex; align-items: center;
                &_check{
                    width: 10px; height: 10px; border: #1c1c1a 1px solid;
                    display: flex; justify-content: center; align-items: center;
                    & > i { font-size: 10px; }
                }
                & span{
                    @include letterProps(OpenSans-Light, 12px, normal, normal, normal, 1.42, 0.6px, right, #1c1c1a);
                    margin-left: 5px; cursor: pointer; letter-spacing: 2.3px;
                }
            }
            & button{
                width: 30%; height: 40px; cursor: pointer; border: none; outline: none;
                background-color: #1D1D1B; color: white;
                @include letterProps(OpenSans-Light, 11px, 300, normal, normal, 1.63, 4.8px, center, #ffffff);
            }

        }
        &_or{
            display: flex; justify-content: center; align-items: center; width: 100%; height: 50px;
            & > div { width: 40%; border: 0.5px #1c1c1a solid; }
            & > span { 
                padding-left: 7px; padding-right: 3px; 
                @include letterProps(OpenSans-Light, 14px, 300, normal, normal, 1.63, 4.8px, center, #1c1c1a);
            }
        }
        /*
        &_social-access{
            display: flex; justify-content: space-between;
            & button{
                width: 50%; height: 45px; cursor: pointer; border: none; outline: none;
            }
            &_facebook{
                background-color: #0162b2; background-repeat: no-repeat; background-size: 25px 25px;
                background-position: center; background-image: url('/images/icons/Facebook_white.svg');
            }
            &_google{
                background-color: #cd3919; background-repeat: no-repeat; background-size: 30px 30px;
                background-position: center; background-image: url('/images/icons/GooglePlux_white.svg');
            }
        }
        */
        &_social-login{
            padding-top: 40px;
            display: flex; flex-direction: column; align-items: flex-start;
            & > label{ color: #1D1D1B; font-size: OpenSans-Light; transform: scale(1, .8); letter-spacing: 1.5px; text-align: left; }
            &_buttons{
                padding-top: 15px;
                display: flex;
                & button{
                    width: 30px; height: 30px; cursor: pointer;
                    background-repeat: no-repeat; background-position: center;
                    outline: none; border: none; background-size: 19px 19px;
                }
                &_facebook{ background-image: url('/images/icons/Facebook_white.svg'); background-color: #445B94; }
                &_google{ margin-left: 3px; background-image: url('/images/icons/GooglePlux_white.svg'); background-color: #C74A38; }
            }
        }
    }
    &_go-sign-up{
        /*
        margin-top: 15px;
        @include letterProps(OpenSans-Regular, 12px, normal, normal, normal, 1.36, 0.7px, center, #1c1c1a);
        & b { 
            cursor: pointer; text-decoration: none;
            & a { text-decoration: none; }
        }
        */

        display: flex; flex-direction: column; align-items: flex-start;
        & > h2 { 
            //@include letterProps(OpenSans-Semibold, 25px, 300, normal, normal, 1.63, 4.8px, center, #1c1c1a); 
            @include letterProps(OpenSans-Light, 25px, 600, normal, normal, 1.17, 9px, center, #1d1d1b);
        }
        & > span{ 
            padding-top: 30px; padding-bottom: 35px;
            color: #1D1D1B; font-family: OpenSans-Light; transform: scale(1, .8); letter-spacing: 1.5px; text-align: left; font-size: 13px; 
        }
        & > button{ 
            background-color: #1D1D1B; color: white; height: 40px; border: none; cursor: pointer; outline: none;
            @include letterProps(OpenSans-Light, 11px, 300, normal, normal, 1.63, 4.8px, center, #ffffff);
            padding-left: 15px; padding-right: 15px;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .auth{
        flex-direction: column; width: 80%; margin: auto;
        padding-top: 15px; padding-bottom: 50px;
        &_nav-small{
            width: 100%; display: flex; justify-content: center;
        }
        &_form{
            width: 100%; border-bottom: 1px solid #1C1C1A;
            & h2{ padding-top: 10px; font-size: 24px; }
            & label {  }
            & input{  }
            &_email, &_password{ height: 54px; }
        }
        &_go-sign-up{
            padding-top: 25px;
            & > span { color: #1C1C1A; font-family: OpenSans-SemiBold; font-size: 12px; }
        }
    }
}