@import '../../styles//mainv2.scss';

.our-universe{
    width: 100%;
    &_nav-small{
        display: none;
    }
    &_title{
        @include letterProps(OpenSans-Light, 25px, 300, normal, normal, 1.17, 9px, center, #1d1d1b);
        padding-top: 80px; padding-bottom: 25px; text-transform: uppercase;
    }
    &_portrait{
        margin: auto; width: 95%; /*height: 600px;*/
        background-repeat: no-repeat; background-position: top; background-size: cover;
        &::after{ content: ''; display: block; padding-bottom: 40%; }
    }
    img{
        margin: auto; width: 95%;
    }
    &_body{
        margin: auto; width: 85%;
        padding-top: 50px; padding-left: 4%; padding-right: 4%;padding-bottom: 0px; box-sizing: border-box;
        & p{
            & big{
                @include letterProps(Gotham-Light, 20px, 500, normal, normal, 1.2, 1.3px, center, #1c1c1a);
            }
            font-family: Gotham-Book; font-size: 14px;
        }
    }
    &_navbar{
        padding-bottom: 80px;
    }
}

@media screen and (max-width: $mobile-width){
    .our-universe{
        &_nav-small{
            display: flex; justify-content: center;
        }
        &_title{
            @include letterProps(OpenSans-Light, 18px, 300, normal, normal, 1.17, 6px, center, #1d1d1b);
            padding-bottom: 15px; padding-top: 30px;
        }
        &_portrait{
            width: 100%; background-size: cover; height: 240px;
        }
        &_body{
            width: 95%;
            & p{
                font-family: OpenSans-Regular; font-size: 15px; line-height: 22px;
                & big{
                    & strong{
                        @include letterProps(Gotham-Book, 18px, 500, normal, normal, 0, 0px, center, #1c1c1a);
                    }
                }      
            }
        }
    }
}