
@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

$smallWidth: '800px';

.subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    //border-top: 1.5px #8e8e8e solid;
    width: 100%; margin: auto;
    & h2{
        @include letterProps(OpenSans-Light, 2.2w, 300, normal, normal, 1.63, 8.8px, center, #393939);
        padding-bottom: 20px;
        //font-size: 35px;
    }

    &_field{
        width: 100%;
        display: flex; justify-content: center; align-items: flex-end;
        & input{
            width: 40%;
            border: none;
            outline: none;
            box-sizing: border-box;
            padding: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid #393939;
            @include letterProps(Gotham-Medium, 14px, 500, normal, normal, 1.14, normal, left, #393939);
            /*background-repeat: no-repeat;
            background-position: 99%;
            background-size: 30px 30px;
            background-image: url(/images/icons/mat-icons/check-thin.png);*/
            @media screen and (max-width: $smallWidth){ width: 80% }
        }
        & button{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url(/images/icons/mat-icons/check-thin.png);
            width: 30px; height: 30px;
            border: none; background-color: inherit; outline: none;
            cursor: pointer; border-bottom: 1px black solid;
        }
    }
    & span{
        padding-top: 10px;
        @include letterProps(Gotham-Book, 14px, normal, normal, normal, 2.43, 0.1px, center, #393939);
    }
}