@import '../../styles/mainv2.scss';

.subscription-v2{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex; justify-content: center; align-items: center;
    &_container{
        width: 590px;
        height: 540px;
        background-color: white;
        padding: 5px;
        &_content{
            border: 1px black solid;
            width: 100%; height: 100%;
            display: flex; flex-direction: column; align-items: center;
            &_close{
                width: 100%; display: flex; justify-content: flex-end;
                & > button {
                    border: none; background-color: inherit; outline: none; cursor: pointer; font-family: OpenSans-Light;
                    transform: scale(2.2, 1.5);
                }
            }
            &_logo{
                @include backImage('/images/fixed/imagotipo.png', 150px, 160px); transform: translateY(-20px);
            }
            &_title{
                @include letterProps(OpenSans-Light, 14px, 600, normal, normal, 1.63, 6.8px, center, black);
                transform: scale(1.13, 1.1) translateY(-20px); padding-bottom: 10px;
            }
            & > label{
                width: 65%; padding-bottom: 30px;
                @include letterProps(OpenSans-Light, 12px, 600, normal, normal, 1.63, 2.93px, center, black);
            }
            & > input {
                width: 76%; height: 45px; margin-bottom: 35px;
                @include letterProps(OpenSans-Light, 10px, 600, normal, normal, 1.63, 1.93px, center, #393939);
                &:focus{
                    border: #1D1D1B 1px solid; outline: none;
                }
            }
            &_suscribe{
                width: 76%; height: 45px;
                background-color: #1D1D1B; border: none; outline: none; cursor: pointer;
                @include letterProps(OpenSans-Light, 12px, 300, normal, normal, 1.63, 5.93px, center, white);
            }
            &_footer{
                width: 70%; padding-top: 30px;
                @include letterProps(OpenSans-SemiBold, 9px, 300, normal, normal, 1.5, 1.6px, center, #1D1D1B);
                display: flex; flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .subscription-v2{
        background-color: rgba(0, 0, 0, 0.2);
        &_container{
            background-color: rgba(255, 255, 255, .95);
            width: 100%; height: auto;
            padding-top: 20px; padding-bottom: 20px;
            &_content{
                border: none;
                &_close{
                    padding-right: 15px;
                    & > button{
                        transform: scale(2.8, 2);
                    }
                }
                &_logo{
                    display: none;
                }
                &_title{
                    @include letterProps(OpenSans-Light, 19px, 600, normal, normal, 1.63, 1.8px, center, black);
                    transform: scaleY(.9); padding-top: 25px; padding-bottom: 25px;
                }
                & > label { width: 90%; @include letterProps(OpenSans-Light, 12px, 600, normal, normal, 1.63, 1px, center, black); }
                &_suscribe { width: 60%; }
                &_footer { width: 90%; @include letterProps(OpenSans-SemiBold, 9.5px, 300, normal, normal, 1.5, .7px, center, #1D1D1B); }
            }
        }
    }
}