@import '../../../styles/mainv2.scss';


.checkout{
    width: 100%; display: flex; flex-direction: column; padding-bottom: 50px;
    &_header{
        width: 95%; margin: auto; padding-top: 42px; padding-bottom: 80px;
        &_steps{
            margin: auto; width: 300px; 
            display: flex; justify-content: space-between;
            &_container1 { transform: translateX(8px); }
            & > div{
                display: flex; flex-direction: column; align-items: center;
                & > div{
                    width: 34px; height: 34px; background-color: #dfdede; border-radius: 20px;
                    display: flex; justify-content: center; align-items: center; z-index: 0;
                    color: #d4d4d4; cursor: default; transition: .5s;
                    cursor: not-allowed;
                    & > i { font-size: 20px; }
                }
                & > span{
                    padding-top: 16px;
                    @include letterProps(Raleway-Bold, 10px, bold, normal, normal, 1.1, 0.5px, left, #d4d4d4);
                }
                & > button{ 
                    margin-top: 11px; width: 110px; height: 11px;
                    transform: translateX(55px);
                    background-color: #dfdede; position: absolute; border: none; outline: none;
                    z-index: -1; transition: .5s;
                }
            }
        }
    }
    &_container{
        width: 100%;
        &_form{
            margin: auto; width: 90%;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .checkout{
        &_header{
            &_sm-menu{ display: none; }
            &_steps{ width: 310px; }
        }
    }
}