

.nav-top-mobile{
    width: 100%; display: flex; flex-direction: column; /*padding-bottom: 60px;*/ position: fixed; top: 0;
    font-family: Raleway-Regular;
    z-index: 3;
    &_container{
        width: 100%; //z-index: 2;
        background-color: rgba(255, 255, 255, .95);
        //position: fixed;
        &_header{
            width: 100%; height: 60px;
            display: flex; justify-content: space-between;
            align-items: center; z-index: 1;
            & > button{
                height: 100%; width: 50px; border: none; outline: none;
                background-color: inherit; transition: 5s;
                & i { }
            }
            &_smenu{
                display: flex; padding-right: 15px;
                & > div{
                    padding: 5px;
                    //font-family: OpenSans-Regular;
                    letter-spacing: .5px;
                    font-size: 14px;
                    &:hover{
                        color: darkgray;
                    }
                }
                &_option_BAG{
                    display: flex; align-items: center;
                    & > div{
                        width: 14px; height: 14px; background-color: black; color: white;
                        display: flex; justify-content: center; align-items: center; font-size: 12px;
                        border-radius: 30px; margin-left: 3px;
                    }
                }
            }
        }
        &_body{
            width: 100%; transition: .5s;
            transform: translateY(-120%);
            position: absolute; z-index: 1;
            height: 100%; background-color: rgba(255, 255, 255, .95);
            padding-bottom: 50px;
            overflow-y: auto;
            z-index: -1;
            &_option{
                padding-bottom: 50px;
                & > div{
                    //font-family: OpenSans-Regular; 
                    font-size: 18px;
                }
                &_collection, &_shop, &_universe{
                    display: flex; flex-direction: column;
                    &_label{
                        display: flex; justify-content: center; align-items: center;
                        & > i {
                            font-weight: lighter;
                        }
                    }
                    &_list{
                       display: flex; flex-direction: column;
                       //max-height: 145px; 
                       overflow: auto;
                       transition: .5s;
                       &_content{
                           font-size: 14.5px; //font-family: OpenSans-Regular;
                       }
                    }
                }
            }
        }
    }
    // only for product detail
    &_goback{
        width: 100%; height: 60px; background-color: white;
        display: flex; align-items: center; font-size: 20pt;
        padding-left: 15px;
        &_image{
            width: 36px; height: 18px;
            background-image: url('/images/fixed/back_arrow.png'); background-size: contain;
            background-position: center; background-repeat: no-repeat;
        }
    }
}