@import '../../../styles/mainv2.scss';

@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

$smallWidth: $mobile-width;

.nav-main-v2{
    width: 100%; height: 50px; display: flex; justify-content: space-between; align-items: center;
    //padding-left: 20px; padding-right: 30px; border-bottom: 1px #ece9e6 solid;
    padding: 20px; box-sizing: border-box;
    @media screen and (max-width: $smallWidth){ flex-direction: column; height: auto; } // Temporal
    //position: fixed; background-color: white; top: 0;
    &_logo{
        background-repeat: no-repeat; background-position: center;
        background-size: 100% 100%; background-image: url(/images/fixed/logoAY.png);
        width: 38px; height: 40px;
    }
    &_menu{
        width: 700px; display: flex; justify-content: space-between;
        @media screen and (max-width: $smallWidth){ flex-direction: column; padding: 20px; width: 100%; } // Temporal
        & > span {
            @media screen and (max-width: $smallWidth){ padding: 5px; } // Temporal
            & #collection-list, #our-universe-list, #shop-category-list{
                width: auto; display: none;
            }
        }
        & > span a{
            @include letterProps(OpenSans-Regular, 15px, normal, normal, normal, 1.33, 0.8px, center, #1c1c1a);
            text-decoration: none;
            &:hover{
                font-weight: bold;
            }
        }
        
    }
    &_sm-menu{
        width: auto;
    }
}

@media screen and (max-width: $smallWidth){
    .nav-main-v2{
        display: none;
    }
}