@import '../../../../../styles/mainv2.scss';

.my-address{
    width: 100%; padding-top: 40px;
    &_container{
        margin: auto; width: 92%;
        display: flex; flex-direction: column;
        &_title{ @include letterProps(OpenSans-SemiBold, 35px, 600, normal, normal, 0.71, normal, left, #393939); }
        &_body{
            width: 100%; display: flex; justify-content: space-between; align-items: center; padding-top: 38px;
            &_form{
                //width: 49%; padding-left: 39px;
                width: 80%; padding-left: 50px;
                & label{ @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2); }
                & input{ border: #ece9e6 1px solid; border-radius: 4px; width: 100%; height: 38px; padding: 8px; margin-top: 9px; }
                & input:focus{ border: #a3a3a2 1px solid; outline: none; }
                &_instructions{
                    @include letterProps(Raleway-Medium, 12px, 500, normal, normal, 1.58, normal, left, #393939);
                }
                &_address{
                    width: 100%; padding-top: 35px;
                    display: flex; flex-direction: column;
                    & #refAddress{ 
                        @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.15, normal, left, #a3a3a2);
                        background: url('/images/icons/point.svg') 10px 50% no-repeat; background-size: 16px 16px;
                        padding-left: 35px;
                    }
                }
                &_dep{
                    width: 100%; padding-top: 18px;
                    display: flex; flex-direction: column;
                    & #refInside{ @include letterProps(OpenSans-Regular, 14px, normal, normal, normal, 1.36, normal, left, #a3a3a2); }
                }
                & button{
                    @include profileButton(262.5px, 46px, auto, 65px);
                }
            }
            &_map{
                width: 0%;
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my-address{
        &_container{
            width: 83%;
            &_title{ /*font-family: Gotham-Bold;*/ font-size: 22px; }
            &_body{
                display: flex; flex-direction: column;
                &_form{
                    width: 100%; padding-left: 0;
                    &_instructions{ /*font-family: Gotham-Book;*/ font-size: 12px; }
                    & button{ margin-top: 30px; }
                }
                &_map{ display: none; }
            }
        }
    }
}