@import '../../../styles/mainv2.scss';

.collections-main{
    width: 100%;
    padding-top: 30px; padding-bottom: 30px; color: darkgray; font-family: Gotham-light;
    
    &_container{
        margin: auto; width: 95%;
        &_content{
            width: 100%; height: 350px;
            display: flex; justify-content: center; align-items: center;
            background-repeat: no-repeat; background-position: center; background-size: cover;
            & > span{
                @include letterProps(Gotham-Bold, 50px, bold, normal, normal, 1.12, 2.5px, left, #fff);
                //text-shadow: 1px 1px 1px 1px #1c1c1a;
                text-shadow: 2px 0 0 #1c1c1a, -2px 0 0 #1c1c1a, 0 2px 0 #1c1c1a, 0 -2px 0 #1c1c1a, 
                1px 1px #1c1c1a, -1px -1px 0 #1c1c1a, 1px -1px 0 #1c1c1a, -1px 1px 0 #1c1c1a;
            }
        }
    }

}