@import '../../../../styles//mainv2.scss';

.bag-counter{
    width: 95px; display: flex; justify-content: space-between;
    & span a {
        @include letterProps(OpenSans-Regular, 11px, normal, normal, normal, 1.33, 0.8px, center, #1c1c1a);
        text-decoration: none; display: flex;
    }
    &_ACCOUNT{
        padding-right: 7px;
    }
    &_BAG{
        & div{
            width: 12px; height: 12px; background-color: black; color: white;
            display: flex; justify-content: center; align-items: center; font-size: 8px;
            border-radius: 30px;
        }
    }
}