$mobile-width: 800px;

@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

@mixin profileButton($w, $h, $m, $mt) {
    background-color: #1c1c1a; width: $w; height: $h; border: none; outline: none; cursor: pointer;
    @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, .3, center, #ffffff);
    margin: $m; margin-top: $mt;
}

@mixin backImage($img, $w, $h) {
    background-repeat: no-repeat; background-position: center; background-size: contain;
    background-image: url($img); width: $w; height: $h;
}