@import '../../../../styles/mainv2.scss';

.footer-mobile{
    display: none;
}

@media screen and (max-width: $mobile-width){
    .footer-mobile{
        display: flex; flex-direction: column;
        font-family: Raleway-Regular;
        background-color: #F6F5F3;
        //font-family: OpenSans-Regular; 
        font-size: 12.5px; letter-spacing: .5px;
        padding-top: 20px; padding-bottom: 20px;
        
        &_subscription{
            margin: auto; width: 85%; padding-bottom: 20px;
            display: flex; align-items: center;
            & > input{
                width: 93%;
                text-align: center; height: 25px;
                border: none; background-color: inherit;
                border-bottom: 1px #1C1C1A solid; outline: none;
                //font-family: OpenSans-SemiBold; 
                font-size: 10px;
                color: #1C1C1A;
            }
            & > button{
                width: 7%; height: 25px;
                background-image: url('/images/fixed/small-right-arrow.png'); background-repeat: no-repeat;
                background-position: center; background-size: 20px 10px;
                background-color: inherit; border: none; outline: none;
                border-bottom: 1px #1C1C1A solid;
            }
        }
        &_social{
            display: flex; justify-content: space-evenly; cursor: pointer;
            //font-family: OpenSans-SemiBold; 
            font-size: 9.5px;
        }
        &_routes{
            margin: auto; width: 88%; padding-top: 17px;
            display: flex; justify-content: space-between;
            & > div{ 
                //width: 24%;
                & > span{ cursor: pointer; font-size: 9.5px; } 
            }
        }
        &_sroutes{
            padding-top: 15px;
            margin: auto; width: 88%;
            display: flex; flex-wrap: wrap; justify-content: space-around;
            align-items: center;
            &_0, &_1, &_2{ width: 33.3%; }
            &_3{ width: 100%; padding-top: 5px; }
            & > div{
                & > span{ cursor: pointer; font-size: 9.5px; }
            }
        }
        &_copyright{ padding-top: 15px; margin-top: 10px; }
    }
}