@import '../../../styles/mainv2.scss';

$smallWidth: '800px';

.shop-detail{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    z-index: -2;
    &_container {
        margin: auto; width: 90%;
        display: flex; /*justify-content: space-around;*/ padding-bottom: 100px;
        @media screen and (max-width: $smallWidth){ justify-content: center; flex-direction: column; } // 
        &_left{
            //width: 500px;
            width: 37%;
            position: fixed; max-height: 90vh; overflow: auto;
            box-sizing: border-box; padding-right: 10px;
            @media screen and (max-width: $smallWidth){ width: 100%; position: relative; max-height: none; } // 
            /******************/
                    /* width */
                    &::-webkit-scrollbar {
                        width: 5px; height: 5px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey; 
                        border-radius: 10px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: darkgray; 
                        border-radius: 10px;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #393939;
                        cursor: pointer;
                    }
                    /******************/
                    
            &_images{
                display: none;
            }        
        }
        /*
        &_right{
            width: 65%; max-height: 1000px; overflow: hidden; margin-left: 20px;
            @media screen and (max-width: $smallWidth){ width: 100%; margin-left: 0; } // Temporal
            &_content{
                width: 100%; height: 100%; padding-right: 8%; box-sizing: content-box;
                &_data{
                    width: 100%; height: 1000px; margin-bottom: 70px;
                    background-repeat: no-repeat; background-size: contain; background-position: center;
                }
            }
        }
        */
        &_right{
            width: 70%;
            z-index: 1; margin-left: 45%;
            display: flex; align-items: flex-start;
            &_back-btn{
                position: sticky; top: 20px;
            }
            @media screen and (max-width: $smallWidth){ width: 100%; margin-top: 30px; margin-left: auto; } // Temporal
            &_content{
                width: 100%; height: 100%;
                &_data{
                    width: 100%; height: 100%; margin-bottom: 70px;
                    background-repeat: no-repeat; background-position: center; background-size: contain;
                }
                & > img{
                    width: 100%; margin-bottom: 70px;
                }
            }
        }
    }
    &_no-found{
        font-family: Gotham-Book; color: darkgray; padding-bottom: 50px;
    }
}

@media screen and (max-width: $mobile-width){
    .shop-detail{
        padding-top: 60px;
        &_container{
            padding-bottom: 10px;
            &_left{
                &_images{
                    display: block; padding-bottom: 10px;
                    &_content{
                        width: 100%; height: 630px;
                        &_data{
                            width: 100%; height: auto;
                        }
                    }
                }
            }
            &_right{
                display: none;
            }
        }
    }
}