// variables
$color: yellow;
$background: #ccc;

// function
@mixin conHome {
    color: $color;
    background-color: $background;
}



.home{
    //@include conHome()
    width: 100%;
}