@import '../../../../../styles/mainv2.scss';

.my-card{
    width: 100%;
    display: flex; flex-direction: column; padding-top: 40px;
    &_container{
        width: 100%;
        &_title{ 
            @include letterProps(Raleway-SemiBold, 35px, 600, normal, normal, .71, normal, left, #393939);
            padding-left: 43px;
        }
        &_body{
            padding-top: 48px;
            width: 100%;
            &_form{
                margin: auto; width: 285px;
                display: flex; flex-direction: column;
                & > span{ @include letterProps(Raleway-Medium, 12px, 500, normal, normal, 1.58, normal, left, #a3a3a2); }
                & label { @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2); margin-bottom: 10px; }
                & input { 
                    border: #ece9e6 1px solid; border-radius: 4px; height: 38px; box-sizing: border-box; padding: 3%;
                    @include letterProps(Raleway-Medium, 14px, 500, normal, normal, 1.14, normal, left, #393939);
                }
                & input:focus { border: #a3a3a2 1px solid; outline: none; }
                &_card{
                    width: 100%; display: flex; flex-direction: column; padding-top: 14px;
                    &_textfield{
                        display: flex; align-items: center; justify-content: space-between;
                        & > input { width: 90%; }
                        & > div { @include backImage('/images/icons/padlock.svg', 20px, 20px); }
                    }
                }
                &_expired-date{
                    width: 100%; display: flex; flex-direction: column; padding-top: 33px;
                    &_options {
                        width: 100%; display: flex; justify-content: space-between;
                        & select{
                            background-color: white;
                            border: #ece9e6 1px solid; border-radius: 4px; width: 128px; height: 38px; box-sizing: border-box; padding: 3%;
                            @include letterProps(Raleway-Medium, 14px, 500, normal, normal, 1.14, normal, left, #a3a3a2 );
                        }
                        & select:focus{ border: #a3a3a2 1px solid; outline: none; }
                    }
                }
                &_security-code{
                    width: 100%; display: flex; flex-direction: column; padding-top: 32px;
                    &_textfield{
                        display: flex; align-items: center;
                        & > input { width: 127.3px; }
                        & > div { @include backImage('/images/icons/question.svg', 20px, 20px); margin-left: 7.5px; }
                    }
                }
                & #aynis-obs{
                    padding-top: 17px;
                }
                & > button{
                    @include profileButton(210px, 46px, auto, 40px);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my-card{
        &_container{
            margin: auto; width: 80%;
            &_title{ /*font-family: Gotham-Bold;*/ font-size: 22px; padding-left: 0; }
            &_body{
                &_form{
                    //background-color: bisque;
                    width: 100%;
                    &_expired-date{
                        &_options{
                            & select{ width: 44%; }
                        }
                    }
                    & #aynis-obs{ color: #393939; }
                }
            }
        }
    }
}