@import '../../../styles/mainv2.scss';

.signup{
    padding-top: 50px; padding-bottom: 50px;
    &_container{
        margin: auto; width: 85%;
        display: flex; justify-content: space-around;
        &_left{
            display: flex; justify-content: center; align-items: center;
            &_form{
                display: flex; flex-direction: column; align-items: flex-start; justify-content: center;
                width: 350px;
                & h2{ width: 100%; display: flex; @include letterProps(OpenSans-Light, 25px, 300, normal, normal, 1.17, 9px, center, #1d1d1b); }
                & label{ @include letterProps(OpenSans-Regular, 14px, normal, normal, normal, 1.33, 0.9px, center, #1c1c1a); margin-top: 15px; }
                & input { width: 100%; height: 40px; border: 1px #1c1c1a solid; padding: 5px; font-family: Gotham-Light; margin-top: 5px; }
                & div {
                    width: 100%; display: flex; justify-content: flex-end; margin-top: 15px;
                    & button{
                        width: 50%; height: 50px; cursor: pointer; border: none; outline: none;
                        background-color: black; color: white;
                        @include letterProps(OpenSans-Light, 11px, 300, normal, normal, 1.63, 4.8px, center, #ffffff);
                    }
                }  
            }
        }
        &_center{
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            & > div { height: 150px; width: 1px; background-color: #707070; }
            &_up{
                
            }
            & > span { 
                padding-left: 7px; padding-right: 3px; 
                @include letterProps(OpenSans-Light, 14px, 300, normal, normal, 1.63, 4.8px, center, #1c1c1a);
            }
            &_down{

            }
        }
        &_right{
            display: flex; justify-content: center; align-items: center;
            &_form{
                margin: auto; width: 300px; display: flex; flex-direction: column;
                align-items: flex-start;
                & label { @include letterProps(OpenSans-Regular, 13px, normal, normal, normal, 1.33, 0.9px, left, #1c1c1a); }
                &_buttons{
                    width: 100%; display: flex; flex-direction: column; margin-top: 10px;
                    & button{ width: 100%; height: 45px; cursor: pointer; border: none; outline: none; }
                    &_facebook{
                        background-color: #0162b2; background-repeat: no-repeat; background-size: 25px 25px;
                        background-position: center; background-image: url('/images/icons/Facebook_white.svg');
                    }
                    &_google{
                        background-color: #cd3919; background-repeat: no-repeat; background-size: 30px 30px;
                        background-position: center; background-image: url('/images/icons/GooglePlux_white.svg');
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .signup{
        padding-bottom: 35px;
        &_container{
            display: flex; flex-direction: column;
            &_left{
                &_form{
                    & input{ height: 30px; }
                    & > div{ padding-top: 5px; }
                }
            }
            &_center{ 
                padding-top: 40px; padding-bottom: 30px;
                display: flex; flex-direction: row;
                & > div{ height: 1px; width: 40%; }
                display: none;
            }
            &_right{
                display: none;
            }
        }
    }
}