@import '../../../../styles/mainv2.scss';

.checkout-delivery{
    width: 45%; margin: auto;
    @media screen and (max-width: 1150px){ width: 60%; }
    @media screen and (max-width: 1000px){ width: 70%; }
    &_container{
        display: flex; flex-direction: column;
        &_title{
            display: flex; align-items: center;
            &_icon{
                width: 34px; height: 34px; background-color: #a3a3a2; border-radius: 20px;
                display: flex; justify-content: center; align-items: center; color: white;
                & > i { font-size: 20px; }
            }
            &_text{
                @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, 0.7px, left, #a3a3a2);
                padding-left: 8px;
            }
        }
        &_options{
            display: flex; justify-content: space-around; padding-top: 25px; padding-bottom: 21.7px; border-bottom: 1px #ece9e6 solid;
            &_to{
                width: 46%; height: 43px; cursor: pointer;
                @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, center, #a3a3a2);
                &_option{
                    width: 100%; height: 43px; display: flex;
                    justify-content: center; align-items: center;
                }
                &_icon{
                    transform: translateY(-4px); color: #1c1c1a;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .checkout-delivery{
        width: 95%;
        &_container{
            &_title{
                &_icon{ background-color: #1C1C1A; }
                &_text{ color: #1C1C1A; }
            }
            &_options{
                border-bottom: none;
                &_to{
                    &_icon{ transform: translateY(-5px); }
                }
            }
        }
    }
}