@import '../../../styles/mainv2.scss';


.stores-mobile{
    display: none;
}

@mixin locationsProps($bckContent, $bckLogo, $nameColor, $addressColor, $spanColor) {
    border: #686260 1px solid; margin-bottom: 16px; width: 100%; display: flex; background-color: $bckContent; cursor: pointer;
    &_logo{
        width: 45px; display: flex; padding-left: 14px; padding-top: 14px;
        &_icon{
            width: 30px; height: 29px; background-repeat: no-repeat; background-position: center;
            background-size: contain; /*background-image: url(/images/icons/location.png);*/ background-color: $bckLogo; 
            border: #686260 1px solid; border-radius: 20px; opacity: .7;
        }
    }
    &_info{
        display: flex; flex-direction: column; text-align: left;
        padding-left: 15px; align-items: flex-start;
        &_name{
            @include letterProps(Gotham-Bold, 20px, bold, normal, normal, 1.2, 0.1px, left, $nameColor);
            padding-top: 18px;
        }
        &_address{
            @include letterProps(Gotham-Light, 13px, 300, normal, normal, 1.38, 0.1px, left, $addressColor);
            padding-top: 6px; min-height: 40px;
        }
        & span{
            @include letterProps(Gotham-Bold, 10px, bold, normal, normal, 1.7, 0.1px, left, $spanColor);
            margin-top: 13px; margin-bottom: 10px; cursor: pointer; text-decoration: underline;
        }
        & #schedule{ font-family: OpenSans-Regular; color: #393939; }
    }
}

@media screen and (max-width: 600px) {
    .stores-mobile{
        display: block;
        width: 100%;
        &_container{
            margin: auto;
            width: 90%;
            margin-top: 20px; display: flex; flex-direction: column; align-items: center;
            &_father{
                width: 100%;
                &_content{
                    @include locationsProps(white,white,#686260,#393939,#393939); min-height: 122px;
                }
                &_preview{
                    width: 100%; margin-bottom: 20px;
                    display: none;
                    //min-height: 200px;
                    &_map{
                        width: 100%;
                        height: 250px;
                        & > div{
                            width: 90% !important;
                            height: 240px !important;
                        }
                    }
                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}