@import '../../../../../styles/mainv2.scss';

.public-delivery{
    &_delivery-time-mobile{ display: none; }
    &_top-label{
        @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.15, 0.4px, left, #393939);
        padding-top: 30px; padding-bottom: 20px;
    }
    &_form{
        width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;
        &_group{
            width: 49%; display: flex; flex-direction: column; padding-bottom: 14px;
            & label{
                @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #988575);
                padding-bottom: 8px;
            }
            & input{
                height: 38px; padding-left: 10px; padding-right: 10px;
                border: 1px #ece9e6 solid; outline: none; border-radius: 1px;
                @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.15, normal, left, #a3a3a2);
                &:focus{ border: 1px #a3a3a2 solid; }
            }
        }
    }
    &_keep-data-client{
        display: flex; align-items: center; cursor: pointer;
        & div{ width: 15px; height: 15px; border: 1px #a3a3a2 solid; cursor: pointer; transform: translateY(-1px); }
        & span{ @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.46, 0.4px, left, #393939); padding-left: 9px; }
    }
    &_delivery-time{
        padding-top: 21px;
        @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.36, normal, left, #a3a3a2);
    }
    &_buttons{
        display: flex; justify-content: space-between; align-items: center; padding-top: 24px;
        & button{ height: 46px; cursor: pointer; }
        &_go-my-purchases{
            border: none; background-color: inherit; outline: none;
            @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, normal, left, #a3a3a2);
            & b{ letter-spacing: 3.5px; }
        }
        &_next{
            width: 210px; background-color: #1c1c1a; color: white; border: none; outline: none;
            @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, 0.3px, center, #ffffff);
        }
    }
}

@media screen and (max-width: $mobile-width){
    .public-delivery{
        &_delivery-time-mobile{
            display: block; text-align: left; font-family: Raleway-Medium; font-size: 13px;
        }
        &_form{
            display: flex; flex-direction: column;
            &_group{
                width: 100%;
                & label { font-size: 13px; }
                & input{ border: 1px #1C1C1A solid; border-radius: 4px; color: #7E7E7E; }
                & #fullname{ 
                    background-image: url('/images/fixed/black-user.png'); background-repeat: no-repeat;
                    background-position: 8px; background-size: 20px 17px; padding-left: 32px;
                }
                & #address{
                    background-image: url('/images/fixed/black-address.png'); background-repeat: no-repeat;
                    background-position: 10px; background-size: 16px 15px; padding-left: 32px;
                }
            }
        }
        &_keep-data-client{
            padding-top: 10px;
            & div{ width: 15px; height: 15px; border: 1px #707070 solid; }
            & span { padding-top: 2px; }
        }
        &_delivery-time{
            display: none;
        }
        &_buttons{
            display: flex; flex-direction: column-reverse;
            &_go-my-purchases{
                color: #1C1C1A; margin-top: 10px;
            }
            &_next{
                border: #707070 1px solid; border-radius: 6px; color: white; background-color: #6D6D6D;
            }
        }
    }
}