@import '../../../../../styles/mainv2.scss';

.mobile-sections-menu{
    display: none;
}

@media screen and (max-width: $mobile-width){
    .mobile-sections-menu{
        display: block;
        margin: auto; 
        &_container{
            background-color: white;
            margin: auto; width: 85%;
            &_selector{
                height: 40px;
                border: 2px #D1D1D1 solid; border-radius: 6px;
                font-family: Gotham-Book; font-size: 13px;
                display: flex; align-items: center;
                padding-left: 15px;
                background-image: url('/images/fixed/small-arrow-down.png'); background-repeat: no-repeat;
                background-size: 10px 10px; background-position: 96%;
            }
            &_options{
                //display: none;
                background-color: white;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
                & > div{
                    width: 100%; height: 40px;
                    display: flex; align-items: center;
                    font-family: Gotham-Book; font-size: 12px;
                    padding-left: 15px; color: #232323;
                }
                &_content-6{
                    font-family: Gotham-Medium !important; font-size: 12px; margin-top: 5px;
                    text-transform: uppercase; transform: scaleY(1.2); color: #232323;
                    letter-spacing: .2px; line-height: 14px;
                }
            }
        }
    }
}