@import '../../../styles/mainv2.scss';

@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

$mobileWidth: 800px;

.detail-collection{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    &_nav-small{
        display: none;
    }
    &_title{
        font-family: OpenSans-Light; font-size: 30px; text-align: center; line-height: 35px; letter-spacing: 9px; color: #1d1d1b;
        padding-top: 30px; padding-bottom: 40px;
        @media screen and(max-width: $mobileWidth){ font-size: 20px; width: 90%; margin: auto; padding-bottom: 30px; };
    }
    &_sections{
        width: 100%;
        //background-color: rgba(255,255,255,.9);
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        &_container{
            margin: auto;
            width: 35%;
            @media screen and(max-width: $mobileWidth){ width: 75%; };
            display: flex;
            justify-content: space-between;
            padding: 10px; border-radius: 4px;
            &_content{
                & span{
                    @include letterProps(OpenSans-Regular, 15px, normal, normal, normal, 1.37, 1px, center, #1c1c1a);
                    @media screen and (max-width: $mobileWidth){ font-size: 12.5px; };
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .detail-collection{
        &_nav-small{
            display: flex; justify-content: center;
        }
        &_title{
            font-size: 18px; letter-spacing: 7px;
        }
        &_sections{
            //top: 60px;
            position: relative;
        }
    }
}