@import '../../../styles/mainv2.scss';

.profile{
    display: flex;
    padding-bottom: 18px;
}

@media screen and (max-width: $mobile-width){
    .profile{
        display: flex; flex-direction: column;
    }
}