
.shop-preview{
    padding-top: 20px; 
    padding-bottom: 10px; // De prueba ↓
    &_container{
        margin: auto; width: 90%; //border-bottom: 1px #8e8e8e solid;
        padding-bottom: 20px;
        &_buttons{
            width: 100%;
            display: flex; justify-content: space-between; align-items: center;
            & > button{
                border: none; outline: none; background-color: inherit;
                cursor: pointer; transform: scale(1, 1.5)
            }
        }
    }
    & > span{ z-index: 1; font-weight: bold; }
}

@media screen and (max-width: 800px){
    .shop-preview{
        padding-top: 0;
        &_container{ border-bottom: none; }
    }
}