
.nav-footer{
    margin: auto;
    width: 90%;
    //border-top: 1px #8e8e8e solid;
    //border-bottom: 1px #8e8e8e solid;
    &_content{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 15px;
        @media screen and (max-width: '800px'){
            flex-direction: column;
        }
        &_option{
            & a {
                font-family: OpenSans-Regular;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: 0.7px;
                text-align: center;
                color: #1c1c1a;
                text-decoration: none;
                &:hover{
                    color: darkgray;
                }
            }
        }
    }
}