@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: $tAlign;
    color: $color;
}

.collection-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    //border: 1px black solid;
    transform: translateX(-20px);
    padding-top: 5px;
    //box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    //padding: 2% 3% 2% 3%;
    //max-height: 170px;
    overflow: auto;
    &_content{
        text-align: right; width: 137px; padding: 2px 0 2px 0;
        & span{
            @include letterProps(OpenSans-Regular, 12px, normal, normal, normal, 1.33, 0.9px, right, #686260);
            cursor: pointer;
            & > a {
                font-size: 12px !important;
                &:hover{ color: #393939; font-weight: bold; }
            } 
        }
    }
    /****** SCROLL *******/
    /* width */
    &::-webkit-scrollbar {
        width: 2px; height: 2px;
    }
                    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white; 
        border-radius: 10px;
    }
                    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
    }
                    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: white;
        cursor: pointer;
    }
    /******************/
}