@import '../../../styles/mainv2.scss';

.header{
    &_mobile{
        display: none;
    }
}

@media screen and (max-width: $mobile-width){
    .header{
        z-index: 2;
        &_desktop{
            display: none;
        }
        &_mobile{
            display: block;
            &_logo{
                padding-top: 30px;
                &_image{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('/images/fixed/imagotipo.png');
                    margin: auto; cursor: pointer;
                    width: 200px; height: 200px;
                    margin-top: 35px;
                }
            }
        }
    }
}