@import '../../../../../styles/mainv2.scss';

.profile-edit {
    width: 100%;  display: flex; flex-direction: column; padding-top: 40px;
    & h2 { display: flex; padding-left: 5%; @include letterProps(Raleway-SemiBold, 35px, 600, normal, normal, .71, normal, left, #393939); }
    &_container {
        width: 60%; margin: auto; margin-top: 0; display: flex; flex-direction: column; padding-top: 70px;
        &_photo {
            display: flex; align-items: center;
            &_image {
                @include backImage('/images/icons/avatar.svg', 66px, 66px);
            }
            & > label{
                input[type='file']{
                    display: none;
                }
                @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, .1px, left, #a3a3a2);
                cursor: pointer; margin-left: 14px;
            } 
        }
        &_form {
            width: 100%; padding-top: 49px;
            & label { @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2); }
            & input, & select { 
                width: 100%; border: #ece9e6 1px solid; border-radius: 4px; height: 38px; box-sizing: border-box; padding: 3%;
                @include letterProps(Raleway-Medium, 14px, 500, normal, normal, 1.14, normal, left, #393939);
                background: white;
            }
            & #email { cursor: not-allowed; }
            & input:focus, & select:focus { border: #a3a3a2 1px solid; outline: none; }
            & input[type=date]{ background-color: inherit; }
            &_fullname {
                display: flex; justify-content: space-between; padding-bottom: 18px;
                &_name, &_lastname {
                    width: 49%; height: 60px;
                    display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
                }
            }
            &_birth-sexo {
                display: flex; justify-content: space-between; padding-bottom: 18px;
                &_birth, &_sexo {
                    width: 49%; height: 60px;
                    display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
                }
                &_sexo_content {
                    display: flex;
                    &_option {
                        display: flex; align-items: center; margin-left: 25px; cursor: pointer;
                        &_icon {
                            background-repeat: no-repeat; background-size: contain; background-position: center;
                            border: 1px #a3a3a2 solid; width: 12px; height: 12px; border-radius: 25px;
                        }
                        & span { @include letterProps(Raleway-Medium, 14px, 500, normal, normal, 1.14, normal, left, #393939); margin-left: 4px; }
                    }
                }
            }
            &_telf-email {
                display: flex; justify-content: space-between; padding-bottom: 18px;
                &_telf, &_email {
                    width: 49%; height: 60px;
                    display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
                }
            }
            &_states-postcode{
                display: flex; justify-content: space-between; padding-bottom: 18px;
                &_state, &_postcode{
                    width: 49%; height: 60px;
                    display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
                }
            }
            & button {
                @include profileButton(210px, 46px, auto, 40px);
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .profile-edit{
        & h2{ /*font-family: Gotham-Bold;*/ font-size: 22px; }
        &_container{
            width: 90%; padding-top: 40px;
            &_photo{
                //background-color: blanchedalmond;
                display: flex; justify-content: center;
                & > label{ /*font-family: Gotham-Bold;*/ color: #1C1C1A; }
            }
            &_form{
                &_fullname{
                    display: flex; flex-direction: column;
                    &_name, &_lastname{ width: 100%; }
                    &_name{ margin-bottom: 20px; }
                }
                &_birth-sexo{
                    display: flex; flex-direction: column; padding-bottom: 5px;
                    &_birth, &_sexo{ width: 100%; height: auto; }
                    &_birth{ margin-bottom: 20px; & > label{ margin-bottom: 8px; }}
                    &_sexo_content{
                        //background-color: bisque;
                        display: flex; flex-direction: column;
                        padding-top: 20px;
                        &_option{ margin-bottom: 25px; }
                    }
                }
                &_telf-email{
                    display: flex; flex-direction: column;
                    &_telf, &_email{ width: 100%; }
                    &_telf{ margin-bottom: 30px; }
                }
                & button{
                    margin-top: 10px; margin-bottom: 5px;
                }
            }
        }
    }
}