
@import '../../../styles/mainv2.scss';

$bckTest: 'https://i.imgur.com/Vc9adBM.jpg';

.news-main{
    padding-top: 20px;
    padding-bottom: 20px;
    &_nav-small{
        display: none;
    }
    &_portrait{
        margin: auto;
        width: 90%; height: 570px;
        background-repeat: no-repeat;
        background-position: 0% 20%;
        background-size: cover;
        
        //&::after{ content: ''; display: block; padding-bottom: 40%; }
        box-sizing: border-box;
        &_layer{
            width: 100%; height: 100%; padding-bottom: 130px;
            display: flex; justify-content: center; align-items: flex-end;
            background-image: linear-gradient(transparent, #393939); /* Standard syntax (must be last)  */
            //background-color: rgba(0, 0, 0, 0.5);
            &_content{
                &_text{ @include letterProps(OpenSans-Regular, 18px, normal, normal, normal, normal, normal, left, #ffffff);  }
                &_title{ @include letterProps(OpenSans-Light, 60px, 300, normal, normal, normal, 4.5px, left, #dfdede); }
                &_description{ @include letterProps(OpenSans-Light, 13px, 300, normal, normal, normal, 0.6px, left, #dfdede); }
                //background-color: rgba(0, 0, 0, 0.5); padding: 1%;
            }
        }
        
    }

    &_menu{
        margin: auto;
        width: 55%;
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
        padding-bottom: 50px;
        & > div{
            & > span{
                @include letterProps(OpenSans-Regular, 13px, normal, normal, normal, 1.35, normal, center, #1c1c1a);
                cursor: pointer;
            }
        }
    }

    &_body{
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &_content{
            width: 46.5%;
            display: flex; flex-direction: column;
            margin-bottom: 30px; cursor: pointer;
            & img{
                width: 100%;
            }
            &_smalltext{
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
                @include letterProps(OpenSans-Light, 15px, 300, normal, normal, 1.06, 1px, left, #000000);
                &_about{ 
                    text-decoration: underline; 
                }
            }
            & h1{
                padding-top: 15px;
                @include letterProps(OpenSans-Regular, 22px, normal, normal, normal, 1.29, 1px, left, #393939);
            }
            & span{
                @include letterProps(OpenSans-Regular, 13px, normal, normal, normal, 1.29, 0.8px, left, #a3a3a2);
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .news-main{
        &_nav-small{
            display: flex; justify-content: center; padding-bottom: 30px;
        }
        &_portrait{
            width: 100%; height: 238px;
            &_layer{
                justify-content: flex-start; padding-bottom: 40px; padding-left: 30px;
                &_content{
                    width: 75%;
                    &_text{ font-size: 12px; }
                    &_title{ font-size: 25px; }
                    &_description{ font-size: 12px; }
                }
            }
        }
        &_menu{
            padding-top: 40px;
            padding-bottom: 10px;
            justify-content: center;
            flex-wrap: wrap;
            width: 90%;
            & > div{
                width: 33.3%; padding-bottom: 25px;
                & > span{
                    padding-bottom: 2px;
                }
            }
        }
        &_body{
            width: 90%;
            &_content{
                width: 100%;
                &_smalltext{
                    &_about{ font-size: 13px; }
                    &_date{ font-size: 12px; }
                }
                & h1{ font-size: 17px; }
                & span { font-size: 15px; }
            }
        }
    }
}