@import '../../../../../styles/mainv2.scss';

.my-order-records{
    width: 100%; padding-top: 40px;
    &_container{
        margin: auto; width: 92%;
        display: flex; flex-direction: column;
        &_title{ @include letterProps(Raleway-SemiBold, 35px, 600, normal, normal, .71, normal, left, #393939); }
        &_body{
            display: flex; flex-direction: column; padding-top: 80px;
            &_content{
                display: flex; justify-content: space-between; margin: auto; width: 88%; border-bottom: #ece9e6 1px solid;
                padding-top: 16px; padding-bottom: 15px;
                &_left{
                    display: flex; flex-direction: column; align-items: flex-start;
                    & label{ @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #393939); }
                    & span{ @include letterProps(Raleway-SemiBold, 12px, 600, normal, normal, 1.15, normal, left, #393939); padding-top: 3px; }
                    &_purchase-date{
                        display: flex; flex-direction: column; padding-bottom: 15.6px;
                    }
                    &_product{
                        display: flex;
                        & > img{ width: 43.52px; height: 61.65px; }
                        &_detail{
                            display: flex; flex-direction: column; justify-content: space-around; padding-left: 19px;
                            &_name{ @include letterProps(Raleway-Medium, 12px, 500, normal, normal, 1.33, .2px, left, #212121); }
                            &_others{ @include letterProps(Raleway-MediumItalic, 12px, 500, italic, normal, 1.17, normal, left, #868686); }
                        }
                    }
                    &_delivered{
                        padding-top: 22.4px;
                    }
                }
                &_right{
                    display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 24px;
                    & button{
                        @include profileButton(83px, 35px, auto, 0px);
                    }
                    & > span{
                        @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, .6px, left, #393939);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my-order-records{
        &_container{
            width: 80%; padding-bottom: 20px;
            &_title{ /*font-family: Gotham-Bold;*/ font-size: 22px; }
            &_body{
                padding-top: 30px;
                &_content{
                    width: 100%;
                    &_left{
                        &_product{
                            &_detail{
                                &_name{ /*font-family: Gotham-Bold;*/ font-size: 12px; padding-bottom: 8px; }
                                &_others{ /*font-family: Gotham-Book;*/ font-size: 12px; font-style: normal; padding-bottom: 7px; }
                                &_price{ /*font-family: Gotham-Bold;*/ font-size: 12px; text-align: left; padding-bottom: 18px; }
                                &_delivered{ /*font-family: Gotham-Book;*/ }
                            }
                        }
                        &_delivered{ display: none; }
                    }
                    &_right{
                        display: none;
                    }
                }
            }
        }
    }
}