@import '../../../../styles/mainv2.scss';

.shop-category-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    //transform: translateX(-20px);
    padding-top: 5px;
    max-height: 250px;
    overflow: auto;
    &_content{
        text-align: left; width: 100px;
        & > span{
            @include letterProps(OpenSans-Regular, 13px, normal, normal, normal, 1.33, 0.9px, right, #686260);
            cursor: pointer;
            &:hover{ color: #393939; font-weight: bold; }
        }
    }
    /****** SCROLL *******/
    /* width */
    &::-webkit-scrollbar {
        width: 2px; height: 2px;
    }
                    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white; 
        border-radius: 10px;
    }
                    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
    }
                    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: white;
        cursor: pointer;
    }
    /******************/
}