@import '../../../../styles/mainv2.scss';

.checkout-confirmation{
    &_container{
        margin: auto; width: 80%;
        @media screen and (max-width: 1350px) { width: 90%; } // test
        @media screen and (max-width: 1200px) { width: 100%; } 
        &_body{
            display: flex;
            &_delivery{
                display: flex; justify-content: space-between; width: 55%; border-right: 0.5px #ece9e6 solid;
                padding-right: 58px; padding-top: 73px;
                @media screen and (max-width: 1350px) { padding-right: 20px; } // test
                &_info{
                    width: 50%; padding-top: 13px; padding-left: 0px;
                    display: flex; flex-direction: column; align-items: flex-start;
                    @include letterProps(Raleway-Medium , 12px, 500, normal, normal, 1.35, normal, left, #212121);
                    &_title{
                        @include letterProps(Raleway-Bold , 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2);
                    }
                    &_name{
                        display: flex; padding-bottom: 8px;
                        &_icon{
                            @include backImage('/images/icons/user.svg', 12px, 12px)
                        }
                        &_text{
                            margin-left: 5px;
                        }
                    }
                    &_address{
                        display: flex; padding-bottom: 13px;
                        &_icon{
                            @include backImage('/images/icons/point.svg', 12px, 12px)
                        }
                        &_text{
                            margin-left: 5px;
                        }
                    }
                }
                &_map{
                    width: 50%;
                    display: flex;  justify-content: flex-end; padding-right: 12px;
                    &_container{
                        width: 230.7px; height: 147.4px; border: #393939 1px solid;
                    }
                }
            }
            &_payment-method{ display: none; } 
            &_product-list{
                width: 45%; border-left: 0.5px #ece9e6 solid; padding-left: 50px; padding-right: 50px;
                @media screen and (max-width: 1350px) { width: 50%; padding-left: 20px; } // test
                //@media screen and (max-width: 1200px) { width: 100%; } 
                display: flex; flex-direction: column;
                &_title{
                    @include letterProps(Raleway-Bold , 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2);
                    padding-bottom: 11px;
                }
                &_container{
                    max-height: 180px; overflow-y: auto; 
                    &_content{
                        width: 320px; padding-top: 13px; padding-bottom: 11px; border-top: 1px #ece9e6 solid;
                        display: flex;
                        &_image{ width: 60px; height: 60px; background-repeat: no-repeat; 
                            background-size: contain; background-position: center; }
                        &_info{ 
                            padding-left: 13px; width: 173px;
                            display: flex; flex-direction: column; align-items: flex-start; justify-content: space-around;
                            &_name{ @include letterProps(Raleway-Medium , 12px, 500, normal, normal, 1.33, .2px, left, #212121);}
                            &_color-size-unds{ @include letterProps(Raleway-MediumItalic , 12px, 500, italic, normal, 1.17, normal, left, #868686); }
                            
                        }
                        &_price{ 
                            padding-left: 25px; padding-bottom: 3px; display: flex; align-items: flex-end; justify-content: center;
                            @include letterProps(Raleway-Bold , 12px, bold, normal, normal, 1.17, .6px, left, #393939);
                        }
                    }
                    /******************/
                    /* width */
                    &::-webkit-scrollbar {
                        width: 5px; height: 5px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey; 
                        border-radius: 10px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: darkgray; 
                        border-radius: 10px;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #393939;
                        cursor: pointer;
                    }
                    /******************/
                }
                &_subtotal{
                   display: flex; justify-content: flex-end; align-items: center; padding-top: 26px; padding-bottom: 7px;
                   & > label{ @include letterProps(Raleway-SemiBold , 13px, 600, normal, normal, 1.15, normal, left, #868686); padding-right: 50px; }
                   & > span{ @include letterProps(Raleway-Medium , 14px, 500, normal, normal, 1.14, .7px, right, #212121); }
                }
                &_delivery-price{
                    display: flex; justify-content: flex-end; align-items: center; padding-bottom: 29px;
                    & > label{ @include letterProps(Raleway-SemiBold , 13px, 600, normal, normal, 1.15, normal, left, #868686); padding-right: 50px; }
                    & > span{ @include letterProps(Raleway-Medium , 14px, 500, normal, normal, 1.14, .7px, right, #212121); }
                }
                &_total{
                    display: flex; justify-content: flex-end; align-items: center;
                    & > label{ @include letterProps(Raleway-SemiBold , 13px, 600, normal, normal, 1.15, normal, left, #868686); padding-right: 20px; }
                    & > span{ @include letterProps(Raleway-Bold , 20px, bold, normal, normal, 1.2, 1px, right, #212121); }
                }
            }
        }
        &_buttons{
            display: flex; justify-content: space-between; align-items: center; padding-top: 24px; padding-right: 50px;
            & button{ height: 46px; cursor: pointer; }
            &_go-my-purchases{
                border: none; background-color: inherit; outline: none; display: flex; align-items: center;
                @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, normal, left, #a3a3a2);
                & > i { padding-right: 5px; font-size: 16px; }
            }
            &_next{
                width: 210px; background-color: #1c1c1a; color: white; border: none; outline: none;
                @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, 0.3px, center, #ffffff);
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .checkout-confirmation{
        &_container{
            &_body{
                display: flex; flex-direction: column;
                &_delivery{
                    width: 100%; padding-top: 15px; padding-right: 0; border-right: none;
                    display: flex; flex-direction: column;
                    &_info{
                        width: 100%;
                        &_title{ color: #212121; }
                        &_name{ padding-top: 20px; }
                    }
                    &_map{ display: none; }
                }
                &_payment-method{
                    display: flex; flex-direction: column; align-items: flex-start; padding-top: 15px; padding-bottom: 25px;
                    &_title{ font-family: Raleway-Bold; font-size: 13px; color: #1C1C1A; }
                    &_content{
                        display: flex; padding-top: 15px;
                        &_info{
                            display: flex; flex-direction: column; text-align: left; padding-left: 15px;
                            &_card{ font-family: Raleway-Medium; font-size: 12px; color: #212121; }
                            &_expiration{ font-family: Raleway-Medium; font-size: 12px; color: #B7B7B7; }
                        }   
                    }
                }
                &_product-list{
                    margin: auto; width: 100%; border-left: none;
                    padding-left: 0; padding-right: 0;
                    &_title{ color: #1C1C1A; }
                    &_container{
                        &_content{
                            &_info{
                                &_color-size-unds{ font-style: normal; font-size: 12px; }
                            }
                        }
                    }
                }
            }
            &_buttons{
                display: flex; flex-direction: column-reverse; padding-right: 0;
                &_go-my-purchases{
                    color: #1C1C1A; margin-top: 10px;
                }
                &_next{
                    border: #707070 1px solid; border-radius: 6px; color: white; background-color: #6D6D6D;
                }
            }
        }
    }
}