.no-padding {
    padding: 0 !important;
}

@for $i from 1 through 20{
    .pt-#{$i*5}{
        padding-top: #{$i*5}px !important;
    }
    .pb-#{$i*5}{
        padding-bottom: #{$i*5}px !important;
    }
    .pl-#{$i*5}{
        padding-left: #{$i*5}px !important;
    }
    .pr-#{$i*5}{
        padding-right: #{$i*5}px !important;
    }
    .p-#{$i*5}{
        padding: #{$i*5}px !important;        
    }
} 