@import '../../../styles//mainv2.scss';

.nav-small{
    &_content{
        display: flex;
        &_option{
            display: flex; align-items: center;
            & span{
                padding-left: 4px; padding-right: 4px; cursor: pointer;
                font-family: OpenSans-SemiBold;
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.42;
                letter-spacing: normal;
                text-align: left;
                color: #393939;
            }
            & div{
                width: 8px;
                transform: rotate(110deg); 
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .nav-small{
        &_content{
            &_option{
                & span{
                    font-family: OpenSans-Bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #1C1C1A;
                }
                & div{
                    width: 12px;
                    & > hr{
                        background-color: #1C1C1A; height: 1px;;
                    }
                }
            }
        }
    }
}