@import '../../../../styles/mainv2.scss';

.lookbook{
    margin: auto;
    width: 90%;
    padding-top: 40px; padding-bottom: 80px;
    display: flex; //justify-content: space-between; flex-wrap: wrap;
    flex-wrap: wrap;
    &_content{
        width: 32%; display: flex; flex-direction: column; margin-bottom: 10px;
        margin-left: 1%; cursor: pointer;
        & img { width: 100%; }
        & span { padding-top: 5px; font-family: Gotham-Light; color: #393939; /*text-transform: lowercase;*/ }
        //&:hover{ & img{ opacity: .7; } }
    }
    &_nodata{
        width: 100%; text-align: center; font-weight: 500; color: darkgray;
        font-family: Gotham-Light;
    }
    &_lookbook_modal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }
   
   
}
#title{
    font-family: OpenSans-Bold;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: 1px;
    text-align: left;
    color: #1c1c1a;
}
#txt{
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: 1px;
    text-align: left;
    color: #1c1c1a;
}
.ReactModal__Overlay {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    //background-color: rgba(255,255,255,0.75);
}
.ReactModal__Content {
   padding: 0px !important;
   text-align: center;
}

.ril__caption{
    overflow: hidden !important;
    max-height: inherit !important;
    top: 50vh !important;
    left: 64vw !important;
}
.myList{
    //background-color: antiquewhite;
    & #div1, & #div2{ 
        margin-bottom: 38px;
    }
}
.ril__toolbar{
    right: 29vw !important;
}
.ril__closeButton{
    background-image: url('/images/fixed/close-thin.png') !important;
    background-size: 70px 70px !important;
    background-repeat: no-repeat !important;
    width: 15px !important; height: 15px !important;
}


@media screen and (max-width: $mobile-width){
    .lookbook{
        width: 98%; justify-content: flex-start; padding-top: 25px;
        &_content{
            width: 23.8%; margin-left: .92%;
        }
    }
    
    .ril__toolbar{
        right: 0vw !important;
        margin-top: 3%;
    }
    .ril__caption{
        right: inherit !important;
        left: inherit !important;
        //background-color: yellow !important;
        position: relative !important;
        padding-bottom: 30px;
    }
    .ril__captionContent{ 
        //padding-top: 0 !important;
        padding-left: 90% !important;
        overflow-x: auto !important;
        &::-webkit-scrollbar {
            width: 0px; height: 0px;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translateZ(0px);
            -webkit-transform: translate3d(0,0,0);
            -webkit-perspective: 1000;
        }
    }
    .myList{
        background-color: rgba(255, 255, 255, .8) !important;
        min-width: 200px;
        padding: 15px !important;
        margin-top: 10px;
        & #div1,& #div2, & #div3{
            #title{ font-size: 17px; }
            #txt{ font-size: 16px; }
        }
    }
    .ril__navButtonPrev, .ril__navButtonNext{
        //display: none;
        background-size: 20px 20px !important;
        transform: translateY(-10px) !important;
    }
    //.ril__navButtonPrev{ transform: translateX(-5px) !important; }
    //.ril__navButtonNext{ transform: translateX(5px) !important; }
    .ril__image{
        width: auto;
    }

    .ril__inner{
        top: 300px;
        bottom: initial;
    }
}

@media screen and (min-width: 1400px) {
    .ril__toolbar{ right: 26vw !important; }
    .ril__caption{ left: 66vw !important; }
}