@import '../../../../../styles/mainv2.scss';

.user-payment_container{
    &_body{
        display: flex; flex-wrap: wrap; justify-content: space-between;
        & > div { 
            width: 49%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; padding-bottom: 25px;
        }
        & label { @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, center, #a3a3a2); padding-bottom: 10px; }
        & input, select { 
            @include letterProps(OpenSans-Regular, 14px, normal, normal, normal, 1.36, normal, left, #a3a3a2); height: 38px;
            border: 1px #ece9e6 solid; outline: none; padding-left: 8px; padding-right: 8px;
            &:focus{ border: #a3a3a2 1px solid; }
        }
        &_card-number{
            padding-left: 1%;
            &_input{
                display: flex; align-items: center; width: 100%;
                & > input { width: 85%; }
                & > .material-icons { color: #a3a3a2; font-size: 20px; padding-left: 5px; cursor: default; }
                //&_icon { @include backImage('/images/icons/padlock.svg', 17px, 17px); margin-left: 8px; }
            }
        }
        &_card-ccv{
            padding-left: 1%;
            &_input{
                display: flex; align-items: center; width: 100%;
                & > input { width: 44%; }
                & > .material-icons { color: #a3a3a2; font-size: 20px; padding-left: 5px; cursor: default; }
                //&_icon{ @include backImage('/images/icons/question.svg', 17px, 17px); margin-left: 8px; }
            }
        }
        &_card-ccv-mobile{ display: none !important; }
        &_card-expiration{
            padding-left: 1%;
            &_selects{
                width: 100%; display: flex;
                & select{ width: 40%; }
            }
        }
        &_save-card{
            padding-left: 1%;
            &_container{
                display: flex; align-items: center; cursor: pointer;
                @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, center, rgba(34, 31, 31, 0.26));
                & > span { padding-left: 5px; }
            }
        }
    }
    & > span {
        @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.46, 0.4px, left, #393939);
    }
    &_buttons{
        display: flex; justify-content: space-between; align-items: center; padding-top: 24px;
        & button{ height: 46px; cursor: pointer; }
        &_go-my-purchases{
            border: none; background-color: inherit; outline: none; display: flex; align-items: center;
            @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, normal, left, #a3a3a2);
            & > i { padding-right: 5px; font-size: 16px; }
        }
        &_next{
            width: 210px; background-color: #1c1c1a; color: white; border: none; outline: none;
            @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, 0.3px, center, #ffffff);
        }
    }
}

@media screen and (max-width: $mobile-width){
    .user-payment_container{
        margin: auto; width: 97%;
        &_body{
            & > div { width: 100%; padding-top: 5px; }
            & label { color: #1C1C1A; }
            & input, select { border: #1C1C1A 1px solid; border-radius: 4px; background-color: inherit; }
            &_card-number{
                padding-left: 0;
                &_input{
                    & > input { width: 100%; }
                    & > .material-icons{ color: #1C1C1A; }
                }
            }
            &_card-ccv{ display: none !important; }
            &_card-ccv-mobile{
                padding-left: 0; padding-bottom: 0 !important;
                &_input{
                    display: flex; align-items: center; width: 100%;
                    & > input { width: 44%; }
                    & > .material-icons { color: #1C1C1A; font-size: 20px; padding-left: 5px; cursor: default; }
                    //&_icon{ @include backImage('/images/icons/question.svg', 17px, 17px); margin-left: 8px; }
                }
            }
            &_card-expiration{ 
                padding-left: 0;
                &_selects{
                    & select{ width: 43% }
                }
            }
            &_save-card{
                height: 10px; margin-top: 15px; margin-bottom: 15px;
                &_container{
                    & > span { color: #393939; }
                }
            }
        }
        & > span { font-size: 12px; display: flex; }
        &_buttons{
            display: flex; flex-direction: column-reverse;
            &_go-my-purchases{
                color: #1C1C1A; margin-top: 10px;
            }
            &_next{
                border: #707070 1px solid; border-radius: 6px; color: white; background-color: #6D6D6D;
            }
        }
    }
}