@import '../node_modules/react-id-swiper/src/styles/scss/swiper.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Fonts - Open Sans Pack
@font-face{ font-family: OpenSans-BoldItalic; src: url(/fonts/OpenSans/OpenSans-BoldItalic.ttf) }
@font-face{ font-family: OpenSans-ExtraBold; src: url(/fonts/OpenSans/OpenSans-ExtraBold.ttf) }
@font-face{ font-family: OpenSans-ExtraBoldItalic; src: url(/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf) }
@font-face{ font-family: OpenSans-Italic; src: url(/fonts/OpenSans/OpenSans-Italic.ttf) }
@font-face{ font-family: OpenSans-LightItalic; src: url(/fonts/OpenSans/OpenSans-LightItalic.ttf) }
@font-face{ font-family: OpenSans-SemiBoldItalic; src: url(/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf) }
@font-face{ font-family: OpenSans-Regular; src: url(/fonts/OpenSans/OpenSans-Regular.ttf) }
@font-face{ font-family: OpenSans-Bold; src: url(/fonts/OpenSans/OpenSans-Bold.ttf) }
@font-face{ font-family: OpenSans-SemiBold; src: url(/fonts/OpenSans/OpenSans-SemiBold.ttf) }
@font-face{ font-family: OpenSans-Light; src: url(/fonts/OpenSans/OpenSans-Light.ttf) }

// Fonts Gotham Pack
@font-face{ font-family: Gotham-Bold; src: url(/fonts/Gotham/Gotham-Bold.otf); }
@font-face{ font-family: Gotham-BoldItalic; src: url(/fonts/Gotham/Gotham-BoldItalic.otf); }
@font-face{ font-family: Gotham-Book; src: url(/fonts/Gotham/Gotham-Book.otf); }
@font-face{ font-family: Gotham-BookItalic; src: url(/fonts/Gotham/Gotham-BookItalic.otf); }
@font-face{ font-family: Gotham-Medium; src: url(/fonts/Gotham/Gotham-Medium.otf) }
@font-face{ font-family: Gotham-MediumItalic; src: url(/fonts/Gotham/Gotham-MediumItalic.otf); }
@font-face{ font-family: Gotham-Light; src: url(/fonts/Gotham/Gotham-Light.otf); }
@font-face{ font-family: Gotham-LightItalic; src: url(/fonts/Gotham/Gotham-LightItalic.ttf); }

// Fonts - Raleway
@font-face{ font-family: Raleway-SemiBold; src: url(/fonts/Raleway/Raleway-SemiBold.ttf); }
@font-face{ font-family: Raleway-Medium; src: url(/fonts/Raleway/Raleway-Medium.ttf); }
@font-face{ font-family: Raleway-Bold; src: url(/fonts/Raleway/Raleway-Bold.ttf); }
@font-face{ font-family: Raleway-Regular; src: url(/fonts/Raleway/Raleway-Regular.ttf); }
@font-face{ font-family: Raleway-MediumItalic; src: url(/fonts/Raleway/Raleway-MediumItalic.ttf); }


.App img {
  text-decoration: none;
  //pointer-events: none;
}

.swiper-pagination-bullet-active{
  background-color: #a9a9a9;
}

.modal-collection-preview_header>button{ filter: brightness(0); }

.swal2-popup{ 
  border-radius: 0 !important;
  & button{ border-radius: 0 !important; }
}

body{
  // main scroll
  /* width */
  &::-webkit-scrollbar {
    all: unset !important;
    width: 13px; height: 13px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: gray;
    cursor: pointer;
  }
}