@import './styles/main.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 

  .ril__outer{ background-color: rgba(255,255,255,.85); }

  .ril__navButtonPrev {
    left: 0;
    background: rgba(0, 0, 0, 0) url('/images/icons/back.png') no-repeat center;
    filter: brightness(0);
    outline: none;
  }
  .ril__navButtonNext {
    right: 0;
    background: rgba(0, 0, 0, 0) url('/images/icons/right-arrow.png') no-repeat center;
    filter: brightness(0);
    outline: none;
}

  .ril__captionContent {
      padding: 10px 20px;
      color: black;
  }  

  .ril__caption {
    background-color: transparent;
    left: unset;
    position: absolute;
    right: 22vw;
    display: block;
    top: 64vh;
  }
  .ril__toolbarRightSide {
    padding-left: 0;
    padding-right: 4vw;
    flex: 0 0 auto;
}
  .ril__toolbar {
      background-color:transparent;
      position: absolute;
      left: 0;
      right: 28vw;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
  
  }
  .ril__closeButton {
    background-image:  url("/images/icons/close.svg");
    width: 10px;
    height: 10px
  }

  .swiper-pagination {
    display: none;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
