
.page404{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: darkgray;
    font-family: Gotham-Light;
}