@import '../../../../styles//mainv2.scss';

.exhibitions{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    &_lookbook{
        margin: auto;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 40px;
        &_content{
            width: 24.5%; padding-bottom: 10px;
            margin-left: .5%;
            & img{
                width: 100%;
            }
        }
        
    }
    &_video{
        margin: auto;
        width: 95%;
        height: 750px;
        @media screen and (max-width: 1400px) { height: 700px; }
        @media screen and (max-width: 1000px) { height: 500px; }
        @media screen and (max-width: 800px) { height: 400px; }
        @media screen and (max-width: 600px) { height: 300px; }
    }
    &_backstage{
        width: 100%; padding-top: 100px; padding-bottom: 50px;
        display: flex; flex-direction: column;
        &_title{
            @include letterProps(OpenSans-Light, 20px, 300, normal, normal, 1.4, 7.5px, center, #1d1d1b);
        }
        &_container{
            height: auto;
            &_content{
                width: 500px; height: 100%;
                &_image{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.swiper-container{
    //height: 100% ;
}

@media screen and (max-width: $mobile-width){
    .exhibitions{
        padding-top: 30px;
        &_lookbook{
            width: 97%;
            &_content{
                width: 24%; margin-left: .8%;
            }
        }
        &_video{
            width: 100%; height: 240px;
        }
        &_backstage{
            padding-top: 75px;
            &_title{
                font-size: 25px; padding-bottom: 25px;
            }
            &_container{
                //transform: translateX(-10%);
                &_content{
                    width: auto; height: auto;
                    &_image{
                        width: auto;
                        height: 230px;
                    }
                }
            }
        }
    }
}