@import '../../../../styles/mainv2.scss';

@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing, $tAlign, $color ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: center;
    color: #1c1c1a;
}

.product-info{
    width: 100%; display: flex; flex-direction: column; align-items: flex-start; padding: 5px;
    &_title{ @include letterProps(OpenSans-Light, 33px, 300, normal, normal, 1.11, normal, left, #1d1d1b); 
            text-align: left; padding-bottom: 20px; letter-spacing: -1px; }
    &_price{ @include letterProps(OpenSans-Bold, 20px, bold, normal, normal, 1.85, 6px, left, #1d1d1b); }
    &_container{
        display: flex; flex-direction: column; width: 100%; margin-top: 30px;
        &_content{
            width: auto; display: flex;
            &_item{
                width: 30px; height: 30px; cursor: pointer;
                display: flex; justify-content: center; align-items: center;
            }
            & #color_item{ margin-right: 8px; }
            & #size_item{ margin-right: 30px; }
            &_error{
                display: flex; align-items: center; padding-left: 20px;
                font-family: Gotham-Light; color: #ec3c3c;
                font-size: 12px;
                & > span{
                    padding-left: 5px;
                    font-family: Gotham-Medium;
                }
            }
        }
        & > span{ @include letterProps(OpenSans-Light, 16px, 300, normal, normal, 1.5, 5.4px, left, #1d1d1b); display: flex; }
        & > div{ @include letterProps(OpenSans-Light, 14px, 300, normal, normal, 1.5, 1px, left, #1d1d1b);
            text-align: left; margin-top: 5px;
            & > button{
                font-weight: bold; background-color: inherit; cursor: pointer; border: none; outline: none;
                font-size: 14px; font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
    & > button{
        background-color: #1c1c1a; margin: auto; margin-top: 30px; width: 100%; height: 60px; cursor: pointer;
        outline: none; border: none;
        @include letterProps(OpenSans-Light, 12px, 300, normal, normal, 1.63, 4.8px, left, #ffffff); color: white;
        position: sticky; bottom: 23px;
    }
}

@media screen and (max-width: $mobile-width){
    .product-info{
        & > button{
            margin-top: 80px; width: 80%;
        }
    }
}