 @import '../../../../styles/mainv2.scss';

.related-products{
    width: 100%; display: flex; flex-direction: column; background-color: white; z-index: 1;
    &_title{
        @include letterProps(OpenSans-Light, 25px, 300, normal, normal, 1.17, 9px, center, #1d1d1b);
        padding-top: 20px; padding-bottom: 20px;
    }
    &_titlev2{ display: none; }
    &_body{
        margin: auto; width: 90%;
    }
}

@media screen and (max-width: $mobile-width){
    .related-products{
        padding-bottom: 25px;
        &_title{ display: none; }
        &_titlev2{
            display: block; padding-bottom: 0px; transform: scaleY(1.2);
            @include letterProps(Gotham-Book, 18px, 300, normal, normal, 5.17, 5px, center, #1d1d1b)
        }
    }
}