@import '../../../../../styles/mainv2.scss';

.user-delivery{
    &_delivery-time-mobile{ display: none; }
    &_title{
        @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, left, #a3a3a2);
        padding-left: 12px; padding-top: 40px;
    }
    &_body{
        display: flex; justify-content: space-between;
        &_info{
            width: 50%; padding-top: 13px; padding-left: 40px;
            display: flex; flex-direction: column; align-items: flex-start;
            @include letterProps(Raleway-Medium , 12px, 500, normal, normal, 1.35, normal, left, #212121);
            &_name{
                display: flex; padding-bottom: 8px;
                &_icon{
                    @include backImage('/images/icons/user.svg', 12px, 12px)
                }
                &_text{
                    margin-left: 5px;
                }
            }
            &_address{
                display: flex; padding-bottom: 13px;
                &_icon{
                    @include backImage('/images/icons/point.svg', 12px, 12px)
                }
                &_text{
                    margin-left: 5px;
                }
            }
            & button {
                @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, 0.1, left, #988575);
                border: none; background-color: inherit; outline: none; cursor: pointer;
            }
        }
        &_map{
            width: 50%;
            display: flex;  justify-content: flex-end; padding-right: 12px;
            &_container{
                width: 230.7px; height: 147.4px; border: #393939 1px solid;
            }
        }
    }
    &_delivery-time{
        padding-top: 21px;
        @include letterProps(Raleway-Medium, 13px, 500, normal, normal, 1.36, normal, left, #a3a3a2);
    }
    &_buttons{
        display: flex; justify-content: space-between; align-items: center; padding-top: 24px;
        & button{ height: 46px; cursor: pointer; }
        &_go-my-purchases{
            border: none; background-color: inherit; outline: none;
            @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, normal, left, #a3a3a2);
            & b{ letter-spacing: 3.5px; }
        }
        &_next{
            width: 210px; background-color: #1c1c1a; color: white; border: none; outline: none;
            @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, 0.3px, center, #ffffff);
        }
    }
}

@media screen and (max-width: $mobile-width){
    .user-delivery{
        &_delivery-time-mobile{
            display: block;
            font-family: Raleway-Medium; font-size: 13px; color: #393939; text-align: left;
        }
        &_title{ font-size: 14px; color: #1C1C1A; padding-left: 20px; }
        &_body{
            &_info{
                width: 100%; padding-left: 0px;
                font-size: 14px;
                //background-color: #a3a3a2;
                &_name{
                    padding-left: 20px;
                    &_icon{ @include backImage('/images/icons/user.svg', 20px, 20px); }
                    &_text{ padding-top: 3px; padding-left: 5px; }
                }
                &_address{
                    padding-left: 22px; padding-top: 10px;
                    &_icon{ @include backImage('/images/icons/point.svg', 17px, 17px); }
                    &_text{ padding-left: 8px; }
                }
                & button{ margin: auto; margin-top: 10px; color: #1C1C1A; }
            }
            &_map{ display: none; }
        }
        &_delivery-time{ display: none; }
        &_buttons{
            display: flex; flex-direction: column-reverse;
            &_go-my-purchases{
                color: #1C1C1A; margin-top: 10px;
            }
            &_next{
                border: #707070 1px solid; border-radius: 6px; color: white; background-color: #6D6D6D;
            }
        }
    }
}