@mixin letterProps($family, $fSize, $fWeigth, $fStyle, $fStrech, $lHeight, $lSpacing ) {
    font-family: $family;
    font-size: $fSize;
    font-weight: $fWeigth;
    font-style: $fStyle;
    font-stretch: $fStrech;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    text-align: center;
    color: #1c1c1a;
}

.footer{
    width: 100%; background-color: white; z-index: 1;
    &_container{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 30px;
        padding-bottom: 130px;
        margin: auto;
        width: 100% !important;
        border-top: 0px #8e8e8e solid !important;
        &_line{
            margin: auto; width: 90%;
            margin-top: 55px;
            //border: 1px solid #8e8e8e;
            border: 1px solid white;
        }
        &_logo1{
            background-repeat: no-repeat; background-position: center; background-size: 28px 30px !important;
            width: 45px; height: 45px;
            margin-top: 15px !important;
            margin-bottom: 10px !important;
            cursor: pointer;
        }
        &_social{
            margin: auto;
            //width: 127px;
            padding-top: 10px;
            padding-bottom: 10px;
            //border-bottom: 1px #8e8e8e solid;
            & strong{
                @include letterProps(OpenSans-Bold, 13px, bold, normal, normal, 1.38, 0.8px);
            }
            &_option{
                @include letterProps(OpenSans-Regular, 16px, normal, normal, normal, 1.36, 1.1px);
                display: flex; flex-direction: column; border-bottom: 1.5px #8e8e8e solid; padding-bottom: 10px;
                & a{
                    text-decoration: none;
                    color: #1c1c1a;
                    font-size: 14px;
                    &:hover{
                        color: darkgray;
                    }
                }
            }
            &_icons{
                margin: auto; width: 65px; display: flex; justify-content: space-between;
                padding-top: 5px; border-bottom: 1.5px #8e8e8e solid; padding-bottom: 10px;
                & > a{
                    & > div{
                        background-repeat: no-repeat; background-position: center; background-size: contain;
                        width: 18px; height: 18px; border-radius: 4px; cursor: pointer;
                    }
                }
            }
        }
        &_logo2{
            width: 105px; height: 30px !important;
            background-repeat: no-repeat; background-position: center; background-size: 85px 40px !important;
            cursor: pointer;
        }
        &_copyright{
            padding-top: 15px;
            font-family: Gotham-Book;
            color: #393939;
        }
    }
}

@import '../../../styles/mainv2.scss';
@media screen and (max-width: $mobile-width){
    .footer{
        &_container{
            display: none !important;
        }
    }
}