@import '../../../../styles/mainv2.scss';
.profile-menu{
    &_sections{
        width: 286px; background-color: #dfdede; height: 700px;
        &_header{
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            padding-top: 20px; padding-bottom: 15px;
            &_user-icon{
                width: 60px; height: 60px; background-repeat: no-repeat; background-position: center;
                border-radius: 30px;
                background-size: contain; background-image: url('/images/icons/avatar.svg');
                background-color: white;
            }
            &_text{
                padding-top: 10px;
                @include letterProps(OpenSans-Regular, 22px, normal, normal, normal, 1.13, 0.1px, left, #393939);
            }
            &_logout{
                background-color: white; border: none; outline: none; margin-top: 10px; border-radius: 5px;
                cursor: pointer; font-family: Gotham-Book;
                &:hover{
                    font-weight: bold;
                }
            }
        }
        &_options{
            &_content{
                width: 100%; height: 60px; display: flex; justify-content: flex-start; align-items: center;
                cursor: pointer; padding-left: 35px;
                &_icon{
                    background-repeat: no-repeat; background-position: center; background-size: contain;
                    width: 20px; height: 20px;
                }
                &_text{
                    padding-left: 15px;
                    @include letterProps(Raleway-SemiBold, 14px, 600, normal, normal, 1.29, 0.1px, left, #393939);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width){
    .profile-menu{
        z-index: 1;
        &_sections{
            background-color: #F6F5F3;
            width: 100%; //height: 285px;
            max-height: 285px;
            padding-top: 60px; padding-bottom: 30px;
            &_header{
                padding-top: 20px;
                &_user-icon{ width: 66.8px; height: 66.8px; }
                &_text{ font-family: Gotham-Medium; font-size: 25px; padding-top: 20px; }
                &_logout{ display: none; }
            }
            &_options{ display: none; }
        }
    }
}