@import '../../../../../styles/mainv2.scss';

.public-payment{
    &_container{
        padding-top: 8px;
        &_title{ 
            @include letterProps(Raleway-Bold, 13px, bold, normal, normal, 1.15, normal, center, #988575); padding-bottom: 22px; 
        }
        &_card-number{ 
            display: flex; justify-content: center; align-items: center;
            @include letterProps(Raleway-Medium, 12px, 500, normal, normal, 1.17, normal, center, #212121); padding-bottom: 9px;
            & > i { color: #d6d6d6; margin-right: 5px; }
        }
        &_card-expires{ 
            @include letterProps(Raleway-Medium, 12px, 500, normal, normal, 1.17, normal, center, #a3a3a2); padding-bottom: 15px;
        }
        & > button{ 
            @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, .1px, center, #988575); 
            background-color: inherit; border: none; outline: none; cursor: pointer; 
        }
    }
    &_buttons{
        display: flex; justify-content: space-between; align-items: center; padding-top: 24px;
        & button{ height: 46px; cursor: pointer; }
        &_go-my-purchases{
            border: none; background-color: inherit; outline: none; display: flex; align-items: center;
            @include letterProps(Raleway-Bold, 14px, bold, normal, normal, 1.14, normal, left, #a3a3a2);
            & > i { padding-right: 5px; font-size: 16px; }
        }
        &_next{
            width: 210px; background-color: #1c1c1a; color: white; border: none; outline: none;
            @include letterProps(Raleway-Bold, 12px, bold, normal, normal, 1.17, 0.3px, center, #ffffff);
        }
    }
}

@media screen and (max-width: $mobile-width){
    .public-payment{
        &_container{
            &_title { color: #1C1C1A; }
            & > button{ color: #1C1C1A; }
        }
        &_buttons{
            display: flex; flex-direction: column-reverse;
            &_go-my-purchases{
                color: #1C1C1A; margin-top: 10px;
            }
            &_next{
                border: #707070 1px solid; border-radius: 6px; color: white; background-color: #6D6D6D;
            }
        }
    }
}